@import "../bootstrap-3.1.1/less/mixins.less";
@import "bootstrap-extends/variables.less";

@import "partial/banks-sprite.less";

@tablet-sides-offset: 20px;
@mobile-sides-offset: 15px;

@main-color: #666;
@saffort-orange: #f60;
@saffort-border: #d4d4d4;
@saffort-light-border: #ccc;

// fonts
@font-roboto: Roboto, Arial, sans-serif;
@font-arial: Arial, sans-serif;

// z-indexes
@zi-logo-mobile: 101;

@zi-top-menu-dropdown: 100;
@zi-top-menu-active-link: 101; // because it should be over dropdown

@zi-slider-img: 1;
@zi-slider-text: 3;

@zi-nav-tabs-mobile: 113;
@zi-nav-tabs-mobile-overlay: 109;

// hide that here are list item UL, or OL
.hideListing() {
	margin: 0;
	padding: 0;
	list-style: none;
}

html, body {
	min-height: 100%;
}
body {
	position: relative;
	font-family: @font-roboto;
	color: @main-color;
}

a {
	color: @saffort-orange;
	&:hover {
		color: @main-color;
	}
}

textarea:focus,
input:focus{
    outline: 0;
}

.container-fluid {
	max-width: 1200px;
}

/* way the hell off screen */
.scrollbar-measure {
	width: 10px;
	height: 10px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
@media (max-width: @screen-md-max) {
	.container-fluid {
		padding-left: @tablet-sides-offset;
		padding-right: @tablet-sides-offset;
	}
	.scrollbar-measure {
		width: 20px;
	}
}
@media (max-width: @screen-xs-max) {
	.container-fluid {
		padding-left: @mobile-sides-offset;
		padding-right: @mobile-sides-offset;
	}
	.scrollbar-measure {
		width: 30px;
	}
}

ul {
	&.url-list {
		font-family: @font-arial;
		font-size: 13px;
		list-style: none;
		list-style-position: outside;
		padding: 0;
		li {
			background: url(../img/url-list.png) no-repeat left 6px;
			padding: 2px 15px 1px;
		}
		a {
			color: #666;
			text-decoration: none;
			&:hover {
				color: @saffort-orange;
				text-decoration: none;
			}
		}
	}
}

@import "partial/bootstrap.less";
@import "partial/helpers.less";

@import "partial/buttons.less";
@import "partial/stickies.less";

@import "partial/logo.less";
@import "partial/header.less";
@import "partial/cart-popover.less";
@import "partial/top-menu.less";

@import "partial/nav-tabs.less";
@import "partial/news-updates.less";

@import "partial/homepage-teaser-carousel.less";
@import "partial/block-wizzard.less";
@import "partial/dropdowns.less";
@import "partial/sidr.less";

@import "partial/listing-description.less";
@import "partial/product-price.less";
@import "partial/listing.less";
@import "partial/listing-sorting-settings.less";
@import "partial/breadcrumb.less";
@import "partial/filter.less";
@import "partial/product.less";
@import "partial/product-gallery.less";
@import "partial/product-attributes.less";
@import "partial/latest-viewed-products.less";
@import "partial/text.less";
@import "partial/sidebar-navi.less";
@import "partial/brands.less";
@import "partial/blog.less";
@import "partial/why-media.less";
@import "partial/thank-you.less";

@import "partial/jcarousel.less";// should be befor footer
@import "partial/footer.less";
