.bank-logo {
	background: transparent url("../img/banks-sprite.png") no-repeat;
	height: 32px;
	width: 52px;
	display: block;
	text-indent: -8000px;
	&.visa-logo {
		background-position: 0 0;
		&:hover {
			background-position: 0 -33px;
		}
	}
	&.master-logo {
		background-position: -52px 0;
		&:hover {
			background-position: -52px -33px;
		}
	}
	&.maestro-logo {
		background-position: -104px 0;
		&:hover {
			background-position: -104px -33px;
		}
	}
	&.discover-logo {
		background-position: -156px 0;
		&:hover {
			background-position: -156px -33px;
		}
	}
	&.paypal-logo {
		background-position: -208px 0;
		&:hover {
			background-position: -208px -33px;
		}
	}
}
