.block-wizzard {
	background: #ff6900 url(../img/block-wizzard-desktop.png) no-repeat right 127px;
	color: white;
	font-family: @font-roboto;
	min-height: 330px;
	padding: 24px 27px;
	position: relative;
	p {
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 0;
		padding-right: 80px;
		&.block-wizzard-title {
			padding-right: 0;
			font-size: 36px;
			line-height: 36px;
			margin-bottom: 11px;
			text-transform: uppercase;
		}
	}
	a.btn {
		background: #f35000;
		bottom: 30px;
		border: 0;
		color: white;
		font-family: @font-arial;
		font-size: 14px;
		left: 30px;
		height: 35px;
		line-height: 36px;
		padding: 0 16px 0 10px;
		position: absolute;
		&:after {
			background: #f35000 url(../img/btn-arw.png) no-repeat center 7px;
			content: ' ';
			display: block;
			height: 35px;
			position: absolute;
			right: -36px;
			top: 0;
			width: 35px;
		}
		&:hover {
			background: #1a1a1a;
			&:after {
				background-color: #1a1a1a;
			}
		}
	}
	.hidden-link-hack {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-decoration: none;
		text-indent: -8000px;
	}
	&.smaller-wizzard {
		background-image: url(../img/block-wizzard-inside.png);
		background-position: right 23px;
		padding: 15px 20px 20px;
		min-height: 125px;
		.block-wizzard-title {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 7px;
		}
		p {
			font-size: 11px;
			line-height: 13px;
		}
		a.btn {
			font-size: 12px;
			bottom: 15px;
			left: 18px;
			height: 25px;
			line-height: 25px;
			padding: 0 11px 0 5px;
			&:after {
				height: 25px;
				right: -26px;
				width: 25px;
				background-position: center -28px;
			}
		}
	}
}

// only desktop
@media (min-width: @screen-lg-min) {
	.block-wizzard {
		&:hover {
			a.btn {
				background: #1a1a1a;
				&:after {
					background-color: #1a1a1a;
				}
			}
		}
	}
}
@media (max-width: @screen-md-max) {
	.block-wizzard {
		background-image: url(../img/block-wizzard-tablet.png);
		background-position: left 9px;
		margin: 0 -@tablet-sides-offset;
		min-height: 100px;
		padding: 24px 39px 15px 80px;
		p {
			font-size: 12px;
			line-height: 13px;
			padding: 0;
			&.block-wizzard-title {
				font-size: 24px;
				line-height: 33px;
				margin-bottom: 0;
			}
		}
		a.btn {
			position: absolute;
			bottom: auto;
			left: auto;
			right: 75px;
			top: 33px;
		}
		.hidden-link-hack {
			display: none;
		}
		&.smaller-wizzard {
			margin: 0;
			.block-wizzard-title {
				line-height: 13px;
			}
			p {
				padding-right: 30%;
			}
			a.btn {
				right: auto;
				top: auto;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	.block-wizzard {
		background-image: url(../img/block-wizzard-mobile.png);
		background-position: right 8px;
		min-height: 60px;
		padding: 14px 80px 14px 19px;
		margin: 0 -@mobile-sides-offset;
		p {
			font-size: 11px;
			line-height: 14px;
			&.block-wizzard-title {
				font-size: 17px;
				line-height: 18px;
			}
		}
		a.btn {
			display: none;
		}
		.hidden-link-hack {
			display: block;
		}
	}
}