.blog-article {
	.clearfix();
	margin-bottom: 15px + 29px;
	> .pull-left {
		border: 4px solid @saffort-border;
		margin-right: 33px;
		margin-bottom: 16px;
	}
	.blog-date {
		color: #bfbfbf;
		font-size: 11px;
		margin-top: -12px;
		margin-bottom: 10px;
	}
}

@media (max-width: @screen-xs-max) {
	.blog-article {
		margin-bottom: 33px;
		> .pull-left {
			display: none;
		}
		.blog-date {
			margin-top: -10px;
		}
	}
}