.shop-brands {
	margin: 0 -30px;
	padding: 10px 5px 0;
}
.block-brand {
	/*margin: 22px 0 22px 35px;*/
	padding: 0 45px 17px;
	.brand-logo {
		text-align: center;
		height: 100px;
		line-height: 100px;
		margin-bottom: 8px;
		border: #f2f2f2 2px solid;
		.clearfix();
		img {
			border: 0;
		}
	}
	h2, h3 {
		font-weight: bold;
		font-size: 14px;
		color: #333333;
		text-transform: uppercase;
		margin-bottom: 9px;
		padding-left: 4px;
	}
	a {
		text-decoration: none;
		.total-count {
			color: #999999;
		}
		&:hover {
			color: #333333;
			text-decoration: none;
			.total-count {
				color: #333;
			}
		}
	}
	ul {
		.hideListing();
		padding-left: 4px;
		li {
			padding-bottom: 4px;
			padding-left: 0;
			&:before {
				display: none;
			}
		}
	}
}

@media (max-width: @screen-md-max) {
	.block-brand {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (max-width: @screen-xs-max) {
	.block-brand {
		.brand-logo {
			text-align: left;
			padding-left: 20px;
		}
	}
}