.breadcrumb {
	font-size: 12px;
	font-family: @font-roboto;
	padding-top: 23px;
	padding-left: 3px;
	padding-bottom: 21px;
	margin: 0;
	a {
		color: #666;
		i {
			display: inline-block;
			font-size: 11px;
			vertical-align: baseline;
			margin-bottom: 1px;
			margin-right: 3px;
		}
		&:hover {
			color: @saffort-orange;
			text-decoration: none;
		}
	}
	li + li {
		margin-left: 10px;
		&:before {
			margin-right: 2px;
			background: url(../img/arw-left.png) no-repeat left center;
		}
	}
}

@media (max-width: @screen-md-max) {
}

@media (max-width: @screen-xs-max) {
}