.remove-product-icon {
	display: block;
	width: 13px;
	height: 16px;
	background: url(../img/inner-sprite.png) no-repeat -2px -38px;
	&:hover {
		background-position: -19px -38px;
	}
}

.shopping-cart {
	.popover {
		border: 0;
		padding: 0;
		color: #ccc;
		border-radius: 0;
		.arrow {
			display: block;
		}
		.popover-title {
			border-radius: 0;
		}
		&.bottom {
			> .arrow {
				left: 20px;
			}
		}
	}
	
	&.shopping-cart-non-empty {
		.popover {
			border: 1px solid #e5e5e5;
			background: white;
			padding: 21px 20px 25px 24px;
			max-width: 360px;
			margin-top: 5px;
			.arrow {
				display: none;
			}
			h2,
			h3 {
				font-weight: bold;
				font-size: 20px;
				color: #ccc;
				margin-top: 0;
				margin-bottom: 20px;
			}
			.popover-content {
				padding: 0;
			}
			table {
				font-size: 12px;
				color: #999;
				td {
					vertical-align: top;
					padding: 10px 10px 20px;
					&.basket-product-picture {
						padding-left: 0;
					}
				}
				.qty {
					color: #333;
				}
				strong {
					font-size: 14px;
					display: block;
					color: #555;
					min-width: 180px;
				}
				.basket-product-price {
					display: block;
					color: @saffort-orange;
					font-size: 14px;
					.vat {
						color: #ccc;
						font-size: 9px;
					}
				}
			}
			p {
				background: #f7f7f7;
				margin-bottom: 21px;
				text-align: right;
				font-size: 14px;
				color: #999;
				padding: 15px 15px 17px;
				.cart-price {
					font-size: 20px;
					font-weight: bold;
					color: #666;
				}
			}
			.btn {
				float: right;
				font-weight: bold;
				font-size: 16px;
				padding: 7px 10px 7px 16px;
				&:before {
					content: ' ';
					display: inline-block;
					width: 17px;
					margin-right: 7px;
					vertical-align: text-top;
					height: 20px;
					background: url(../img/inner-sprite.png) no-repeat -36px -17px;
				}
			}
		}
	}
	&.shopping-cart-empty {
	}
}