.select-like {
	display: inline-block;
	font-size: 12px;
	margin: 0 5px;
	a[data-toggle="dropdown"] {
		border: 1px solid #d7d7d7;
		padding: 0 13px 0 6px;
		height: 25px;
		display: block;
		line-height: 23px;
		color: #666666;
		background: white;
		margin-right: 25px;
		&:after {
			border: 1px solid #d7d7d7;
			border-left: 0;
			background: white url(../img/top-menu-caret.png) no-repeat 6px -51px;
			display: block;
			content: ' ';
			position: absolute;
			top: 0;
			right: 1px;
			height: 25px;
			width: 24px;
		}
		&:focus,
		&:hover {
			text-decoration: none;
			color: @saffort-orange;
			&:after {
				background-position: 6px 9px;
			}
		}
	}
	&.open {
		.dropdown-menu {
			margin-top: -1px;
			width: 100%;
			min-width: 25px;
			font-size: 12px;
			li {
				padding: 0 13px 0 6px;
				a {
					background: none;
					padding: 0;
					&:hover {
						color: @saffort-orange;
					}
				}
			}
		}
	}
}