#sidr-left,
.listing-filter {
	background: white;
	padding: 15px 15px 44px;
	border-bottom: 2px solid #e6e6e6;
	.attribute-filter {
		border-top: 1px solid #e5e5e5;
		padding: 10px 0 0;
		.attribute-name {
			text-transform: uppercase;
			color: @saffort-orange;
			font-size: 14px;
			font-weight: bold;
			cursor: pointer;
			padding: 0 0 0 5px;
			&:before {
				content: ' ';
				display: inline-block;
				height: 15px;
				width: 15px;
				background: url(../img/top-menu-caret.png) no-repeat left 7px;
			}
		}
		ul {
			.hideListing();
			font-size: 12px;
			margin-top: -4px;
			padding-left: 22px;
			padding-bottom: 10px;
			label {
				margin-bottom: 4px;
				font-weight: normal;
			}
			input[type=checkbox] {
				margin-right: 3px;
				vertical-align: text-bottom;
				+ span {
					color: #999999;
				}
				&:checked {
					+ span {
						color: #333;
						.total-count {
							color: @saffort-orange;
						}
					}
				}
			}
		}
		&:first-child {
			border: 0;
		}
		&.closed {
			.attribute-name {
				color: #888;
				&:before {
					background-position: -42px -113px;
				}
			}
			ul {
				display: none;
			}
		}
	}
}

@media (max-width: @screen-md-max) {
	.listing-filter {
		display: none;
	}
}

@media (max-width: @screen-xs-max) {
	.listing-filter {
	}
}