#footer {
	padding-top: 23px;
	padding-bottom: 36px;
	font-family: @font-arial;
	font-size: 12px;
	line-height: 17px;
	color: #999;
	.footer-top {
		background: #262626;
		padding: 25px 0 24px;
		margin-bottom: 27px;
		position: relative;
		.quality-badges {
			.quality-badge {
				display: table;
				border-left: 1px solid #333;
				color: #999999;
				font-family: @font-arial;
				font-size: 11px;
				line-height: 13px;
				margin: 0 5px ;
				padding: 1px 0 0 88px;
				max-width: 320px;
				min-height: 78px;
				vertical-align: middle;
				position: relative;
				&:before {
					position: absolute;
					left: 24px;
					top: 20px;
					content: ' ';
					display: block;
					width: 40px;
					height: 40px;
					background: url(../img/quality-badge-icons.png) no-repeat;
				}
				&.quality-badge-icon-headphone {
					&:before {
						background-position: -40px -40px;
					}
				}
				&.quality-badge-icon-truck {
					&:before {
						background-position: -40px 0;
					}
				}
				&.quality-badge-icon-label {
					&:before {
						background-position: -40px -80px;
					}
				}
				&.quality-badge-icon-lock {
					&:before {
						background-position: 0 -80px;
					}
				}
				&.quality-badge-icon-refresh {
					&:before {
						background-position: 0 -40px;
					}
				}
				.quality-badge-helper {
					// did we need table-row?
					display: table-cell;
					vertical-align: middle;
					height: 80px; // min-height works not in FF 
					.quality-badge-heading {
						line-height: 17px;
						color: #f2f2f2;
						display: block;
						font-family: @font-roboto;
						font-size: 14px;
						text-transform: uppercase;
						font-weight: bold;
						margin-bottom: 5px;
					}
					.quality-badge-text {
					}
				}
				&:hover {
					color: #fff;
					text-decoration: none;
					.quality-badge-heading {
						color: @saffort-orange;
					}
				}
			}
			li:first-child {
				.quality-badge {
					border-left: 0;
				}
			}
		}
		.jcarousel-control-prev,
		.jcarousel-control-next {
			display: none;
		}
	}
	
	.country-selector {
		margin-top: 16px;
		margin-bottom: 28px;
		background: #f9f9f9;
		border-top: 1px solid #efefef;
		border-bottom: 2px solid #efefef;
		line-height: 13px;
		padding: 10px 0;
		text-align: center;
		font-size: 11px;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				border-left: 1px solid @saffort-border;
				padding: 0 13px;
				&:first-child {
					border: 0;
				}
				a {
					color: #999;
					&:hover {
						color: @saffort-orange;
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.logo-horizontal {
		float: left;
		margin-right: 19px;
		max-width: 210px;
		max-height: 46px;
	}
	
	.copyright {
		line-height: 15px;
		p {
			margin: 8px 0;
		}
	}
	
	.bank-logos {
		.hideListing();
		float:right;
		margin: 8px 0;
		li {
			float: left;
			margin: 0 0 0 9px;
		}
	}
}

.footer-menu-blocks {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 26px;
}

.footer-menu-block {
	padding-bottom: 35px;
	h3,
	h4 {
		font-size: 18px;
		font-weight: bold;
		color: #666;
		border-bottom: 2px solid #d9d9d9;
		margin-right: 29px;
		padding-bottom: 10px;
	}
}

.idea-logo {
	margin: 22px 13px 0 23px;
	clear: both;
	display: block;
	background: url(../img/idea-sprite.png) no-repeat left bottom;
	width: 69px;
	text-indent: -8000px;
	float: right;
	height: 5px;
	&:hover {
		background-position: left top;
	}
}

@media (max-width: @screen-md-max) {
	#footer {
		padding-bottom: 50px;
		.country-selector {
			margin-bottom: 38px;
		}
		.copyright {
			padding-bottom: 30px;
			border-bottom: 1px solid #dfdfdf;
			margin-bottom: 22px;
		}
		.bank-logos {
			float:left;
			margin-left: -1px;
			li {
				margin: 0 9px 0 0;
			}
		}
		
		> .container-fluid {
			padding-left: @tablet-sides-offset*2;
			padding-right: @tablet-sides-offset*2;
		}
		.footer-top {
			min-height: 130px;
			padding-bottom: 13px;
			.jcarousel-control-prev,
			.jcarousel-control-next {
				display: block;
			}
			.quality-badges {
				position: relative;
				&:after {
					display: block;
					height: 90px;
					width: 1px;
					top: 0;
					left: 5px;
					position: absolute;
					content: ' ';// to hide badges border 
					background: #262626;
				}
				.quality-badge {
					max-width: 300px;
					&:before {
						left: 34px;
					}
				}
			}
		}
	}
	
	.idea-logo {
		clear: none;
		margin-top: 24px;
		margin-right: 8px;
	}
	
	.footer-menu-blocks {
		padding-bottom: 13px;
	}
	
	.footer-menu-block {
		padding-bottom: 8px;
		ul {
			li {
				padding-bottom: 5px;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	#footer {
		padding-bottom: 30px;
		padding-top: 0;
		font-size: 11px;
		line-height: 15px;
		
		.footer-top {
			margin-bottom: 17px;
			padding: 10px 0;
			min-height: 100px;
			.quality-badges {
				&:after {
					display: none;
				}
				.quality-badge {
					border: 0;
					margin: 0 auto;
					&:before {
						top: 20px;
						left: 28px;
					}
				}
			}
		}
		
		> .container-fluid {
			padding-left: @mobile-sides-offset+5px;
			padding-right: @mobile-sides-offset+5px;
		}
		
		.logo-horizontal {
			float: none;
			margin: 0;
		}

		.copyright {
			padding-bottom: 0;
			border-bottom: 0;
			margin-bottom: 1px;
			img {
				max-width: 52.5%;
				margin-bottom: 10px;
			}
		}
		
		.bank-logos {
			margin-left: 0;
			li {
				margin: 0 4px 0 0;
			}
		}
		
		.country-selector {
			margin-bottom: 28px;
			ul {
				li {
					border: 0;
					padding: 5px 13px;
				}
			}
		}
	}
	
	.footer-menu-block {
		padding-bottom: 1px;
		h4 {
			padding-left: 2px;
			font-size: 14px;
			padding-bottom: 6px;
			margin-bottom: 4px;
			margin-right: 0;
		}
		ul {
			font-size: 11px;
			li {
				padding-bottom: 1px;
			}
		}
	}
	
	.idea-logo {
		float: left;
		clear: both;
		margin-top: 22px;
		margin-left: 13px;
	}
}