#header {
	height: 90px;
	background: #1a1a1a;
	margin-bottom: 69px;
	
	.safes-available {
		float: left;
		margin: 12px 20px 0 0;
		height: 65px;
		padding: 0 33px 0 20px;
		color: #666;
		line-height: 17px;
		font-size: 12px;
		border-right: 1px solid #262626;
		font-family: @font-roboto;
		.heading {
			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			color: #ff6900;
			margin: 15px 0 4px;
		}
		.total {
			color: white;
			background: #262626 url(../img/total.png) repeat-x left 50%;
			border-radius: 2px;
			padding: 0 2px;
			margin-right: 7px;
			display: inline-block;
		}
	}
	
	.language-selector {
		float: left;
		margin: 34px 20px 0 10px;
		line-height: 20px;
		a {
			font-size: 11px;
			border: 1px solid #282828;
			color: #999;
			display: block;
			padding: 0 6px;
			&:hover {
				color: #fff;
				text-decoration: none;
				background: transparent;
			}
			&[data-toggle=dropdown] {
				min-width: 40px;
				background: url(../img/arw.png) no-repeat 25px 8px;
				&:hover {
					background-color: #282828;
					border: 1px solid #494949;
				}
			}
		}
		&.open {
			a[data-toggle=dropdown] {
				background-color: #282828;
				text-decoration: none;
				border: 1px solid #494949;
			}
		}
		.dropdown-menu {
			padding: 4px 0;
			margin: -1px 0 0;
			border-radius: 0;
			border: 1px solid #494949;
			background: #282828;
			min-width: 40px;
			> li > a {
				line-height: 14px;
				border: 0;
			}
		}
	}
	
	.search-form {
		float: left;
		color: white;
		position: relative;
		margin-top: 29px;
		width: 250px;
		margin-right: 20px;
		input[type=text] {
			border: 0;
			font-size: 12px;
			background: #282828;
			line-height: 32px;
			height: 32px;
			padding: 0 40px 0 10px;
			border-radius: 3px;
			width: 100%;
		}
		button {
			background: transparent;
			border: 0;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 16px;
			padding: 0 8px;
			line-height: 32px;
			height: 32px;
		}
		.close-search {
			display: none;
		}
	}
	
	.header-contacts {
		float: left;
		font-family: @font-roboto;
		margin: 28px 20px 0;
		line-height: 18px;
		.phone {
			color: white;
			font-size: 15px;
			display: block;
			i {
				color: @saffort-orange;
				font-size: 12px;
				padding-right: 2px;
			}
		}
		.email {
			font-size: 12px;
			color: #666;
			background: url(../img/mail-sprite.png) no-repeat left 4px;
			padding-left: 18px;
			&:hover {
				color: #fff;
				text-decoration: none;
				background-position: left -21px;
			}
		}
	}
	
	.badges-slider {
		float: left;
		margin: 15px 14px 0;
		width: 78px;
		min-height: 60px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		font-family: @font-arial;
		text-align: center;
		color: white;
		line-height: 11px;
		position: relative;
		.slider-item {
			position: absolute;
			top: 0;
			left: 0;
			padding-top: 36px;
			width: 78px;
			min-height: 60px;
			background: url(../img/badges-slider-icons.png) no-repeat center top;
			&.badges-icon-truck {
				background-position: center 7px;
			}
			&.badges-icon-label {
				background-position: center -139px;
			}
		}
	}
	
	.shopping-cart {
		float: right;
		height: 56px;
		width: 146px;
		background: #0d0d0d;
		/*background: white;*/
		margin-top: 17px;
		font-family: @font-roboto;
		padding: 12px 0;
		.products-in-cart {
			font-family: Verdana, sans-serif;
			font-size: 10px;
			color: #000;
			display: block;
			height: 32px;
			float: left;
			width: 55px;
			background: url(../img/ico-cart.png) no-repeat 16px 12px;
			position: relative;
			span {
				right: 10px;
				top: 1px;
				background: @saffort-orange;
				width: 15px;
				height: 15px;
				line-height: 15px;
				text-align: center;
				display: block;
				border-radius: 7px;
				position: absolute;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.cart-name {
			float: left;
			height: 32px;
			line-height: 32px;
			border-left: 1px solid #262626;
			padding-left: 14px;
			font-size: 15px;
			color: white;
			text-transform: uppercase;
			display: none;
		}
		.total-price {
			color: white;
			font-size: 15px;
			display: block;
			line-break: 20px;
			height: 20px;
			margin-top: -3px;
		}
		.login-link {
			display: block;
			font-family: @font-arial;
			font-size: 11px;
			color: @saffort-orange;
			&:before {
				content: ' ';
				height: 10px;
				width: 10px;
				display: inline-block;
				background: url(../img/ico-lock.png) no-repeat top left;
			}
			&:hover {
				text-decoration: none;
				&:before {
					background-position: -10px top;
				}
			}
		}
		&:hover {
			background: #282828;
			.login-link {
				color: white;
				&:before {
					background-position: -10px top;
				}
			}
		}
		&.shopping-cart-empty {
			.products-in-cart {
				background: url(../img/ico-cart-l.png) no-repeat 16px 4px;
				span {
					display: none;
				}
			}
			.cart-name {
				display: block;
			}
			.total-price,
			.login-link {
				display: none;
			}
		}
	}
	
}

@media (max-width: @screen-md-max) {
	#header {
		margin-bottom: 0;
		.badges-slider,
		.safes-available {
			display: none;
		}
		
		.header-contacts {
			margin-top: 36px;
			.phone {
				font-size: 14px;
				display: inline;
				margin-right: 13px;
			}
			.email {
				font-size: 14px;
				background-position: left 6px;
			}
		}
		
		.language-selector {
			margin-right: 31px;
		}
		
		.search-form {
			position: absolute;
			left: 124px;
			margin: 0;
			width: 30px;
			height: 30px;
			top: 30px;
			z-index: 9;
			input[type=text] {
				margin-top: 1px;
				display: none;
				color: #666;
				background: white;
				font-size: 14px;
				height: 26px;
				line-height: 26px;
				width: 100%;
				padding: 0 28px;
				&::-ms-clear {
					display: none;
				}
			}
			button {
				outline: 0;
				right: auto;
				left: -2px;
				color: #999;
				&:hover {
					color: white;
				}
			}
			&.open {
				width: 60%;
				input[type=text] {
					display: block;
				}
				button {
					&:hover {
						color: @saffort-orange;
					}
				}
				.close-search {
					display: block;
					position: absolute;
					right: 8px;
					font-weight: normal;
					font-size: 26px;
					top: 2px;
					color: #b9b9b9;
					.opacity(1);
				}
			}
		}
		.shopping-cart {
			float: left;
			color: white;// o delete
			margin-top: 30px;
			margin-left: 67px;
			width: auto; 
			padding: 7px 0;
			height: auto;
			background: transparent;
			.products-in-cart {
				background: url(../img/ico-cart-grey.png) no-repeat top left;
				height: 17px;
				width: 26px;
				span {
					top: -8px;
					right: -1px;
				}
			}
			.login-link,
			.total-price {
				display: none;
			}
			&.shopping-cart-empty {
				.products-in-cart {
					background: url(../img/ico-cart-grey.png) no-repeat top left;
				}
				.cart-name {
					display: none;
				}
			}
			&:hover {
				background: transparent;
				.products-in-cart {
					background: url(../img/ico-cart.png) no-repeat top left;
				}
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	#header {
		background: #262626;
		height: 80px;
		.header-contacts {
			right: 0;
			z-index: 100;
			float: none;
			position: absolute;
			text-align: right;
			background: #1a1a1a;
			margin: 0 ;
			height: 24px;
			left: 80px;
			line-height: 12px;
			padding: 5px 9px 0 0;
			.phone {
				font-size: 11px;
				i {
					display: none;
				}
			}
			.email {
				margin-left: 2px;
				border-left: 1px solid #333;
				font-size: 11px;
				padding: 0 0 0 6px;
				background: none;
				color: #777777;
			}
		}
		.search-form {
			left: 94px;
			top: 37px;
			&.open {
				width: 65%;
			}
		}
		.shopping-cart {
			margin-top: 37px;
			margin-left: 42px;
		}
		.language-selector {
			margin-top: 41px;
			margin-left: 6px;
			a {
				border-color: #525252;
			}
		}
	}
}