.disabled-list {
	.hideListing();
}

.caret {
	margin: 0 0 1px;
	background: url(../img/top-menu-caret.png) no-repeat left bottom;
	border: 0;
	width: 11px;
	height: 7px;
}

.caret-left,
.caret-right {
	display: block;
	text-indent: -8000px;
	height: 20px;
	width: 8px;
	padding: 0;
	background: url(../img/top-menu-caret.png) no-repeat;
}

.caret-right {
	background-position: -42px -55px;
}

.caret-left {
	background-position: -31px -55px;
}

.back-to-top {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
	padding-top: 3px;
	display: block;
	text-align: right;
	&:before {
		content: ' ';
		background: url(../img/top-menu-caret.png) no-repeat -15px -55px;
		display: inline-block;
		width: 15px;
		height: 14px;
		margin-right: 3px
	}
	&:hover {
		color: @saffort-orange;
		text-decoration: none;
		&:before {
			background-position: -15px 5px;
		}
	}
}

// http://davidwalsh.name/advanced-css-links-spice-up-your-links
.link-to-pdf,
a[href$='.pdf'] {
	&:before {
		content: ' ';
		background: url(../img/inner-sprite.png) no-repeat 0 0;
		display: inline-block;
		vertical-align: sub;
		height: 16px;
		width: 16px;
		margin-right: 8px;
	}
}

.info-icon {
	background: url(../img/ico-info.png) no-repeat left top;
	display: inline-block;
	height: 11px;
	width: 11px;
	&:hover {
		background-position: left bottom;
	}
}

.btn-buy-small {
	display: block;
	width: 28px;
	height: 28px;
	border: 0;
	background: #2ae289 url(../img/ico-cart.png) no-repeat 5px 6px;
	&:focus,
	&:hover {
		background-color: #009966;
	}
}

@media (max-width: @screen-xs-max) {
	.back-to-top {
		text-align: center;
	}
	.fill-xs {
		margin-left: -@mobile-sides-offset;
		margin-right: -@mobile-sides-offset;
	}
}