@desktop-slider-title-line-height: 36px;

#homepage-teaser-carousel {
	background: white;
	height: 330px;
	overflow: hidden;
	.item {
		color: #999;
		font-family: @font-roboto;
		font-size: 13px;
		padding-left: 40px;
		min-height: 330px;
		.slider-title {
			font-size: 30px;
			overflow: hidden;
			line-height: @desktop-slider-title-line-height;
		}
	}
	.type-slider-02 {
		background: url(../img/slider-type2-bg.png) no-repeat 141px 240px;
		padding-top: 25px;
		position: relative;
		.slider-title {
			margin-top: 13px;
			margin-bottom: 28px;
			max-height: @desktop-slider-title-line-height * 2;
			max-width: 58%;
		}
		ul {
			.hideListing();
			max-width: 230px;
			li {
				padding-left: 16px;
				padding-bottom: 6px;
				background: url(../img/tick.png) no-repeat left 5px;
			}
		}
		.slider-product {
			position: absolute;
			right: 106px;
			top: 25px;
			img {
				max-height: 280px;
				max-width: 240px;
			}
			.product-prices {
				font-size: 14px;
				position: absolute;
				top: 104px;
				width: 209px;
				height: 82px;
				left: -209px;
				background: white url(../img/slider-type2-label.png) no-repeat top left;
				padding: 11px 10px 11px 22px;
				.main-price {
					font-size: 28px;
					line-height: 32px;
					font-weight: bold;
					.vat {
						font-weight: normal;
						font-size: 11px;
					}
				}
			}
		}
	}
	.type-slider-03 {
		padding-top: 34px;
		padding-right: 15px;
		padding-bottom: 15px;
		.slider-title {
			margin-bottom: 22px;
			max-height: @desktop-slider-title-line-height * 3;
		}
		ul {
			max-width: 280px;
			.hideListing();
			background: url(../img/slider-type3-border-bottom.png) no-repeat left bottom;
			li {
				list-style: none;
				background: url(../img/ico-shield.png) no-repeat left top;
				padding-left: 25px;
				padding-bottom: 9px;
				min-height: 20px;
				line-height: 20px;
			}
		}
		ul,
		.slider-title {
			position: relative;
			z-index: @zi-slider-text;
		}
		img {
			position: absolute;
			right: 17px;
			bottom: 18px;
			max-height: 230px;
			max-width: 560px;
			z-index: @zi-slider-img;
		}
	}
	.carousel-control {
		display: none;
	}
	.carousel-indicators {
		bottom: 4px;
		li {
			margin-right: 0;
			border-width: 2px;
		}
		.active {
			border: 0;
			width:  10px;
			height: 10px;
		}
	}
}

// only desktop
@media (min-width: @screen-lg-min) {
	.carousel-indicators {
		left: 40px;
		margin-left: 0;
		text-align: left;
	}
}

@media (max-width: @screen-md-max) {
	#homepage-teaser-carousel {
		margin-left: -@tablet-sides-offset;
		margin-right: -@tablet-sides-offset;
		height: 288px;
		.item {
			height: 288px;
			min-height: 288px;
			padding-left: 36px;
			.slider-title {
				font-size: 26px;
			}
		}
		.type-slider-02 {
			padding-top: 18px;
			background-position: 141px 210px;
			.slider-product {
				right: 93px;
				top: 22px;
				img {
					max-height: 244px;
					max-width: 210px;
				}
				.product-prices {
					font-size: 12px;
					top: 91px;
					width: 183px;
					height: 72px;
					padding: 9px 10px 9px 20px;
					left: -183px;
					background-position: left -83px;
					.main-price {
						font-size: 24px;
						line-height: 28px;
						.vat {
							font-size: 10px;
						}
					}
				}
			}
		}
		.type-slider-03 {
			padding-top: 31px;
			font-size: 11px;
			.slider-title {
				line-height: @desktop-slider-title-line-height - 4px;
			}
			ul {
				li {
					padding-left: 25px;
					padding-bottom: 5px;
					background-size: 16px auto;
				}
			}
			img {
				max-height: 200px;
				max-width: 490px;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	#homepage-teaser-carousel {
		margin-left: -@mobile-sides-offset;
		margin-right: -@mobile-sides-offset;
		height: 120px;
		overflow: hidden;
		.item {
			height: 120px;
			min-height: 120px;
			p {
				display: none;
				&.slider-title {
					display: block;
				}
			}
			ul {
				display: none;
			}
		}
		.type-slider-02 {
			padding: 10px 15px;
			.slider-title {
				margin-top: 2px;
				max-width: 68%;
				font-size: 12px;
				line-height: 14px;
			}
			.slider-product {
				right: 24px;
				top: 8px;
				img {
					max-height: 100px;
					max-width: 86px;
				}
				.product-prices {
					font-size: 10px;
					top: 28px;
					width: 145px;
					height: 47px;
					padding: 7px 10px;
					left: -185px;
					background-position: left -154px;
					.main-price {
						font-weight: normal;
						font-size: 14px;
						line-height: 15px;
						.vat {
							font-size: 10px;
						}
					}
				}
			}
		}
		.type-slider-03 {
			padding: 13px 13px;
			font-size: 11px;
			.slider-title {
				font-size: 11px;
				line-height: 14px;
			}
			img {
				max-height: 87px;
				max-width: 211px;
				bottom: 10px;
				right: 10px;
			}
		}
		.carousel-indicators {
			bottom: -3px;
		}
	}
}