/** Carousel **/

.quality-badges {
    position: relative;
    overflow: hidden;
    width: 100%;
	ul {
		width: 20000em;
		position: relative;
		.hideListing();
	}

	li {
		float: left;
	}
}


/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -29px;
    width: 11px;
    height: 58px;
    background: url(../img/slider-sprite.png) no-repeat;
    color: #fff;
	text-indent: -8000px;
	outline: none;
	&:focus {
		outline: none;
	}
}

.jcarousel-control-prev {
    left: 19px;
	background-position: 0 0;
	&:hover {
		background-position: -35px 0;
	}
}

.jcarousel-control-next {
    right: 19px;
	background-position: -20px 0;
	&:hover {
		background-position: -55px 0;
	}
}
