.medium-product-listing {
	background: white;
	border-bottom: 2px solid #e6e6e6;
	padding-bottom: 17px;
	h1,h2,h3,h4,h5,h6 {
		color: #cccccc;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 1px solid #e5e5e5;
		height: 61px;
		line-height: 62px;
		padding: 0 24px;
		margin-bottom: 20px;
	}
	.product-listing-item {
		border: 0;
		margin: 0 5px;
		padding: 10px 10px 0;
		min-height: 255px; 
		.product-main-link {
			padding-bottom: 10px;
			margin-bottom: 11px;
			border-bottom: 1px solid #e5e5e5;
		}
		.product-prices {
			position: relative;
			top: 0;
			left: 0;
		}
		&.product-offer-label {
			&:before {
				top: 0;
				background-position: left -71px;
				height: 46px;
			}
		}
	}
	.row {
		margin: 0;
		> div {
			border-left: 1px solid #e5e5e5;
			margin-bottom: 10px;
			&:first-child {
				border: 0;
			}
		}
	}
}