.listing-description {
	background: white;
	border-bottom: 2px solid #e6e6e6;
	color: #666;
	font-size: 12px;
	line-height: 16px;
	padding: 0 30px;
	margin-bottom: 20px;
	h1 {
		text-transform: uppercase;
		color: @saffort-orange;
		border-bottom: 2px solid @saffort-orange;
		display: inline-block;
		font-size: 28px;
		font-weight: bold;
		position: relative;
		line-height: 30px;
		padding-bottom: 3px;
		margin-bottom: 16px;
		&:after {
			content: ' ';
			display: block;
			border: 7px solid transparent;
			border-top-color: @saffort-orange;
			width: 0;
			height: 0;
			position: absolute;
			bottom: -16px;
			left: 50%;
			margin-left: -7px;
		}
	}
	.row {
		margin-left: -30px;
		margin-right: -30px;
		.col-lg-9 {
			padding: 0 30px;
		}
		.block-wizzard {
			position: relative;
			right: -10px;
		}
	}
}

@media (max-width: @screen-md-max) {
	.listing-description {
		margin-top: 20px;
		margin-bottom: 19px;
		background: #f9f9f9;
		h1 {
			margin-top: 42px;
			&:after {
				display: none;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	.listing-description {
		border: 0;
		background: transparent;
		padding: 0;
		margin-bottom: 5px;
		h1 {
			margin-top: 5px;
		}
	}
}