.listing-description-and-settings {
	position: relative;
}

.listing-sorting-settings {
	position: absolute;
	top: -42px;
	right: 0;
	width: auto;
	font-size: 12px;
	color: #666;
	margin-bottom: 20px;
}

@media (max-width: @screen-md-max) {
	.listing-sorting-settings {
		position: relative;
		top: 0;
		right: 0;
		clear: both;
	}
}

@media (max-width: @screen-xs-max) {
	.listing-sorting-settings {
	}
}