.product-listing-item {
	background: white;
	padding: 15px 15px 7px;
	border-bottom: 2px solid #e6e6e6;
	margin-bottom: 18px;
	min-height: 328px;
	font-family: @font-roboto;
	position: relative;
	.clearfix();
	.product-main-link {
		display: block;
		color: #555555;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		img {
			margin: 0 auto;
			display: block;
			margin-bottom: 11px;
			max-height: 150px;
		}
		&:hover {
			text-decoration: none;
			color: @saffort-orange;
		}
	}
	.product-attributes {
		font-family: @font-arial;
		font-size: 11px;
		padding: 0;
		margin: 2px 0 11px;
		color: #555;
		line-height: 14px;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 11px;
		li {
			.clearfix();
		}
		.product-attribute-title {
			color: #999;
			display: inline-block;
			width: 62px;
			float: left;
		}
		.product-attribute-value {
			display: block;
			margin-left: 65px;
		}
	}
	
	.product-prices {
		min-height: 42px;
		padding-top: 7px;
		position: absolute;
		left: 15px;
		bottom: 7px;
		.main-price {
			line-height: 23px;
			display: block;
		}
	}
	
	.compare-trigger {
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		padding-top: 9px;
		color: #999999;
		font-weight: normal;
		input {
			vertical-align: bottom;
			margin-right: 3px;
			&:checked + span {
				color: #666;
			}
		}
	}
	&.product-offer-label {
		position: relative;
		&:before {
			position: absolute;
			background: url(../img/label.png) no-repeat top left;;
			width: 44px;
			height: 40px;
			top: -4px;
			right: 11px;
			content: ' ';
			display: block;
		}
		.product-prices {
			padding-top: 0;
		}
	}
}

.product-listing-text-item {
	font-family: @font-arial;
	color: #666;
	font-size: 17px;
	padding: 53px 33px 10px;
	min-height: 328px;
	p {
		margin: 7px 0;
	}
}

.large-adv-button {
	color: white;
	font-family: @font-roboto;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	display: inline-block;
	span {
		display: block;
		background: @saffort-orange;
		height: 35px;
		float: left;
		padding: 0 5px;
		clear: left;
		&.caret {
			width: 35px;
			height: 35px;
			background: #1a1a1a url(../img/btn-arw.png) no-repeat center 7px;
		}
	}
	&:hover {
		text-decoration: none;
		color: white;
		span {
			background: #1a1a1a;
			&.caret {
				background: @saffort-orange url(../img/btn-arw.png) no-repeat center 7px;
			}
		}
	}
}

.pagination {
	font-size: 14px;
	margin-top: 0;
	font-weight: bold;
	> li {
		> a,
		> span {
			padding: 2px 8px 1px 7px;
			margin: 0 2px;
		}
		> span {
			&:hover {
				background: transparent;
				border: transparent 1px solid;
			}
		}
	}
}

@media (max-width: @screen-md-max) {
	.product-listing-item {
		padding: 27px 20px 14px;
		min-height: 342px;
		.product-main-link {
			img {
				margin-bottom: 6px;
			}
		}
		.product-prices {
			left: 21px;
			bottom: 14px;
		}
	}
	
	.product-listing-text-item { 
		min-height: 342px;
		padding: 88px 33px 10px 62px;
	}
	
	.pagination {
		margin-bottom: 13px;
	}
}

@media (max-width: @screen-xs-max) {
	.product-listing-item {
		margin-left: -@mobile-sides-offset;
		margin-right: -@mobile-sides-offset;
		margin-bottom: 0;
		border-bottom-width: 1px;
		min-height: 0;
		padding: 10px 15px;
		.product-main-link {
			line-height: 17px;
			img {
				max-height: 76px;
				max-width: 102px;
				margin-right: 10px;
				float: left;
			}
		}
		&.product-offer-label {
			&:before {
				display: none;
			}
			.product-main-link {
				position: relative;
				&:before {
					position: absolute;
					background: url(../img/label.png) no-repeat left -41px;
					width: 25px;
					height: 29px;
					top: 0;
					left: 77px;
					content: ' ';
					display: block;
				}
			}
		}
		.compare-trigger {
			display: none;
		}
		.product-attributes {
			border: 0;
			clear: both;
			margin-top: 6px;
			padding-bottom: 0;
			margin-bottom: 3px;
			.cash-rating,
			.fire-rating {
				max-width: 185px;
			}
		}
		.product-prices {
			float: left;
			position: relative;
			top: 0;
			left: 0;
			width: 60%;
			margin-top: 8px;
			margin-bottom: 4px;
			padding: 0;
			.main-price {
				color: @saffort-orange;
				font-weight: bold;
				font-size: 16px;
				line-height: 18px;
				.vat {
					font-weight: normal;
				}
			}
		}
	}
	
	.product-listing-text-item { 
		min-height: 0;
		padding: 7px 6px 13px 16px;
		.large-adv-button {
			margin-left: -9px;
		}
	}
	
	.large-adv-button {
		font-size: 20px;
		line-height: 33px;
		span {
			padding-left: 3px;
			padding-right: 13px;
			clear: none;
			&:first-child {
				padding-left: 10px;
				padding-right: 2px;
			}
		}
	}
	
	.pagination-holder {
		position:relative;
		left: 50%;
		float: left;
		.pagination {
			margin-top: 20px;
			margin-bottom: 17px;
			margin-left: -50%;
		}
	}
	
	.back-to-top {
		margin-bottom: 25px;
	}
}