#logo {
	float: left;
	margin-right: 10px;
	.transition(all .2s ease-in-out);
	img {
		height: 135px;
		width: 135px;
		.transition(all .2s ease-in-out);
	}
}

@media (max-width: @screen-md-max) {
	#logo {
		margin-left: -@tablet-sides-offset;
		img {
			height: 90px;
			width: 90px;
		}
	}
}

@media (max-width: @screen-xs-max) {
	#logo {
		margin-left: -@mobile-sides-offset;
		z-index: @zi-logo-mobile;
		img {
			height: 80px;
			width: 80px;
		}
	}
}