@nav-tabs-mobile-border-radius: 3px;

.nav {
	&.nav-tabs {
		font-family: @font-roboto;
		font-size: 16px;
		border: 0;
		margin: 18px 0 22px;
		position: relative;
		.transition(all .2s ease-in-out);
		li {
			margin: 0;
			border-bottom: 2px solid #d9d9d9;
			+ li {
				padding-left: 25px;
				padding-right: 3px;
			}
		}
		a {
			color: #333;
			margin: 0;
			border: 0;
			border-bottom: 2px solid transparent;
			padding: 8px 3px 8px;
			position: relative;
			bottom: -2px;
			&:hover {
				color: @saffort-orange;
				text-decoration: none;
			}
			&:focus {
				border: 0;
				border-bottom: 2px solid transparent;
			}
		}
		.active {
			background: transparent;
			a {
				background: transparent;
				border: 0;
				border-bottom: 2px solid transparent;
				color: @saffort-orange;
				&:hover {
					background: transparent;
					border: 0;
					border-bottom: 2px solid transparent;
					color: @saffort-orange;
				}
				&:focus {
					border: 0;
					border-bottom: 2px solid transparent;
				}
			}
		}
		.magic-line {
			position: absolute;
			bottom: -7px;
			left: 0;
			width: 100px; 
			height: 9px;
			background: transparent url(../img/arrow-edge.png) no-repeat center top;
			border: 0;
			border-top: 2px solid @saffort-orange;
			padding: 0;
		}
	}
}

.mobile-tabs-toggler {
	display: none;
}

@media (max-width: @screen-md-max) {
	.nav {
		&.nav-tabs {
			margin-top: 15px;
			margin-left: 10px;
			margin-bottom: 30px;
		}
	}
	
	.mobile-tabs-overlay {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: @zi-nav-tabs-mobile-overlay;
		background-color: rgba(0,0,0,0.7); /*dim the background*/
		&.active {
			display: block;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.mobile-tabs-toggler {
		display: block;
		background: white;
		border: 2px solid #e6e6e6;
		text-transform: uppercase;
		cursor: pointer;
		color: #666;
		font-family: @font-roboto;
		font-size: 14px;
		margin: 10px 0 11px 0;
		border-radius: @nav-tabs-mobile-border-radius;
		padding: 5px 9px;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		.caret {
			margin-top: 7px;
			float: right;
			background-position: left -60px;
		}
		&:hover {
			color: #ff6900;
		}
		+ .nav {
			display: none;
		}
		&.active {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			color: #ff6900;
			z-index: @zi-nav-tabs-mobile;
			position: relative; // kad veiktu z-index
			.caret {
				margin-top: 7px;
				float: right;
				background-position: -17px top;
			}
			+ .nav {
				position: absolute;
				z-index: @zi-nav-tabs-mobile;
				top: 44px;

				display: block;
				background: white;
				margin: 0;

				border: 2px solid #e6e6e6;
				border-top: 0;
				font-size: 14px;
				border-bottom-left-radius: @nav-tabs-mobile-border-radius;
				border-bottom-right-radius: @nav-tabs-mobile-border-radius;
				padding-top: 8px;
				padding-bottom: 12px;
				li {
					float: none;
					padding: 0;
					border: 0;
					a {
						border: 0;
						padding: 3px 13px;
						display: block;
						&:hover {
							border: 0;
						}
					}
					+ li {
						padding: 0;
					}
					&.active {
						a {
							border: 0;
							&:after {
								display: none;
							}
						}
					}
					&.magic-line {
						display: none;
					}
				}
			}
		}
	}

}