.block-news-and-updates {
	padding: 32px 4px 0 0;
	color: #777;
	font-family: @font-arial;
	font-size: 14px;
	text-align: right;
	a {
		color: #777;
		&:hover {
			color: @saffort-orange;
			text-decoration: none;
		}
	}
	.block-date {
		color: #999;
	}
	
	.ico-next,
	.ico-prev {
		display: inline-block;
		text-indent: -8000px;
		width: 6px;
		height: 9px;
		text-align: left;
		vertical-align: middle;
		margin-left: 3px;
		margin-bottom: 2px;
		background: url(../img/top-menu-caret.png) no-repeat;
	}
	.ico-prev {
		background-position: -33px bottom;
		&:hover {
			background-position: -33px top;
		}
	}
	.ico-next {
		background-position: -44px bottom;
		&:hover {
			background-position: -44px top;
		}
	}
}