.product-prices {
	color: #999;
	font-size: 11px;
	.main-price {
		color: #666;
		font-size: 20px;
		.vat {
			color: #ccc;
			font-size: 9px;
		}
	}
	del {
		color: #666;
		+ .main-price {
			color: @saffort-orange;
		}
	}
}
