.product-attributes {
	.hideListing();
	
	.cash-rating,
	.fire-rating {
		display: inline-block;
		background: #e5e5e5;
		height: 5px;
		text-indent: -8000px;
		vertical-align: middle;
		margin-bottom: 1px;
		position: relative;
		width: 100%;
		i {
			display: block;
			height: 5px;
			background: #2ae289;
		}
		&:after {
			content: ' ';
			display: block;
			height: 5px;
			width: 100%;
			top: 0;
			position: absolute;
		}
	}
	
	.cash-rating {
		i {
			background: #2ae289;
		}
		&:after {
			background: url(../img/rating.png) no-repeat right top ;
		}
	}
	
	.fire-rating {
		i {
			background-color: @saffort-orange;
		}
		&:after {
			background: url(../img/rating.png) no-repeat right bottom;
		}
	}
}