.product-overview {
	background: white;
	border-bottom: 2px solid #e6e6e6;
	padding: 30px;
	font-family: @font-roboto;
	font-size: 13px;
	&.product-offer-label {
		position: relative;
		&:before {
			position: absolute;
			background: url(../img/label.png) no-repeat top left;;
			width: 44px;
			height: 40px;
			top: -4px;
			right: 20px;
			content: ' ';
			display: block;
		}
	}
	.product-main-info {
		//padding-left: 500px;
	}
	.product-attributes {
		padding-bottom: 33px;
		.product-attribute-title {
			color: #b2b2b2;
			width: 72px;
			display: inline-block;
			&.free-width {
				width: auto;
			}
		}
		.fire-rating,
		.cash-rating {
			height: 6px;
			width: 152px;
			margin-right: 7px;
			i {
				height: 6px;
			}
			&:after {
				height: 6px;
			}
		}
		.offset-top {
			padding-top: 16px;
		}
	}
	.sizes-count {
		color: @saffort-orange;
		&:hover {
			text-decoration: none;
			color: #1a1a1a;
		}
	}
	h1 {
		margin-top: 0;
		text-transform: uppercase;
		color: #333;
		font-size: 22px;
		margin-top: 31px;
		margin-bottom: 43px;
	}
	h2, h3, h4 {
		font-weight: bold;
		font-size: 18px;
		color: #ccc;
		text-transform: uppercase;
		padding-left: 10px;
		margin-bottom: 18px;
	}
	.user-actions {
		padding: 11px 0;
		color: #999;
		font-size:12px;
		line-height: 22px;
		.compare-trigger {
			text-transform: uppercase;
			font-weight: normal;
			input {
				vertical-align: bottom;
				margin-bottom: 4px;
				margin-right: 3px;
				&:checked + span {
					color: #666;
				}
			}
		}
		.pdf-link {
			margin-left: 9px;
			padding-left: 15px;
			font-family: @font-arial;
			color: #999;
			border-left: 1px #ebebeb solid;
			height: 22px;
			display: inline-block;
			&:hover {
				color: @saffort-orange;
				text-decoration: none;
			}
			&:before {
				margin-right: 3px;
			}
		}
		.print-link {
			margin-left: 9px;
			padding-left: 15px;
			height: 22px;
			display: inline-block;
			border-left: 1px #ebebeb solid;
			font-family: @font-arial;
			color: #999;
			&:before {
				content: ' ';
				background: url(../img/inner-sprite.png) no-repeat 0 -20px;
				display: inline-block;
				margin-right: 3px;
				height: 14px;
				width: 16px;
				vertical-align: sub;
			}
			&:hover {
				text-decoration: none;
				color: @saffort-orange;
				&:before {
					background-position: -18px -20px;
				}
			}
		}
	}
	.product-social-actions {
		float: right;
		padding-top: 45px;
	}
}

.box-buy-now {
	background: white;
	border-bottom: 2px solid #e6e6e6;
	padding: 17px 22px;
	font-size: 11px;
	color: #adadad;
	.stock-indicator {
		text-transform: uppercase;
		font-size: 22px;
		color: #666;
		padding-left: 3px;
		padding-bottom: 20px;
		i {
			background: #2ae289;
			color: white;
			border-radius: 19px;
			display: inline-block;
			height: 19px;
			line-height: 19px;
			
			width: 19px;
			font-size: 11px;
			vertical-align: middle;
			margin-bottom: 7px;
			text-align: center;
		}
	}
	.product-prices {
		width: 75%;
		float: left;
		font-size: 13px;
		margin-bottom: 18px;
		.main-price {
			font-size: 24px;
			line-height: 1.05;
			.vat {
				font-size: 10px;
			}
		}
	}
	.product-quantity {
		text-align:center;
		float: left;
		width: 25%;
		color: #999;
		font-size: 13px;
		label {
			font-weight: bold;
		}
		input {
			color: #666;
			border: 0;
			width: 100%;
			text-align: center;
		}
	}
	.btn {
		clear: left;
		text-transform: uppercase;
		border-radius: 0;
		&.btn-lg {
			font-size: 22px;
			padding: 6px 0 7px;
		}
	}
	ul {
		.hideListing();
		clear: both;
		font-size: 11px;
		margin: 16px 0 13px;
		li {
			position: relative;
			padding-left: 17px;
			padding-bottom: 1px;
			&:before {
				background: url(../img/inner-sprite.png) no-repeat -44px -56px;
				content: ' ';
				display: block;
				position: absolute;
				width: 9px;
				height: 8px;
				left: 3px;
				top: 5px;
			}
		}
	}
	.delivery-link {
		text-decoration: underline;
		&:hover {
			color: #333;
			text-decoration: none;
		}
	}
}

.small-info-box {
	color: #888;
	font-size: 11px;
	padding: 25px 24px;
	line-height: 14px;
	h1,h2,h3,h4,h5,h6 {
		text-transform: uppercase;
		color: #666;
		font-weight: bold;
		font-size: 14px;
		line-height: 15px;
		margin-bottom: 7px;
		margin-top: 16px;
	}
	p {
		margin-bottom: 17px;
	}
	.btn {
		background: @saffort-orange;
		border: 0;
		color: white;
		font-family: @font-arial;
		font-size: 12px;
		height: 25px;
		line-height: 26px;
		padding: 0 6px;
		position: relative;
		&:after {
			background: @saffort-orange url(../img/btn-arw.png) no-repeat center -28px;
			content: ' ';
			display: block;
			height: 25px;
			position: absolute;
			right: -26px;
			top: 0;
			width: 25px;
		}
		&:hover {
			background: #1a1a1a;
			&:after {
				background-color: #1a1a1a;
			}
		}
	}
}

.product-details {
	clear: left;
	padding: 21px 0 10px;
	li {
		margin-bottom: 4px;
		a {
			padding-right: 12px;
			&:hover {
				text-decoration: none;
				background: url(../img/arw-right.png) no-repeat right 8px;
			}
		}
	}
	table {
		padding-top: 2px;
		width: 100%;
		tr {
			&:hover {
				th {
					color: @saffort-orange;
					.info-icon {
						background-position: left bottom;
					}
				}
				th,
				td {
					background: #f7f7f7;
				}
			}
		}
		th {
			vertical-align: top;
			font-weight: bold;
			text-transform: uppercase;
			padding: 10px;
		}
		td {
			padding: 10px;
		}
	}
	.expand-details {
		text-transform: uppercase;
		display: block;
		padding: 13px 10px 26px 10px;
		font-weight: bold;
		&:after {
			content: ' ';
			display: inline-block;
			width: 11px;
			margin-left: 3px;
			height: 8px;
			background: url(../img/top-menu-caret.png) no-repeat top left;
		}
		&:hover {
			color: #666;
			text-decoration: none;
			&:after {
				background-position: 0 -60px;
			}
		}
		&.expanded {
			&:after {
				background-position: -17px 0;
			}
			&:hover {
				&:after {
					background-position: -17px -60px;
				}
			}
		}
	}
}

.similar-products {
	padding-bottom: 25px;
	.back-to-top {
		color: #ccc;
		&:before {
			background-position: -15px -115px;
		}
		&:hover {
			color: @saffort-orange;
			&:before {
				background-position: -15px 5px;
			}
		}
	}
	.product-prices {
		.main-price {
			display: block;
			font-size: 16px;
			line-height: 19x;
			.vat {
				font-size: 9px;
			}
		}
	}
	table {
		width: 100%;
		font-size: 13px;
		color: #666;
		margin-bottom: 13px;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
		thead {
			tr {
				th {
					background: #f7f7f7;
					font-weight: bold;
					padding: 9px 0 11px 10px;
					line-height: 16px;
					&.separated {
						border-right: 1px solid #e5e5e5;
					}
					&.compare {
						text-align: center;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					vertical-align: middle;
					padding: 15px 0 16px 10px;
					&.separated {
						border-right: 1px solid #e5e5e5;
					}
					&.center {
						text-align: center;
					}
				}
				&.active {
					td {
						background: #fefad1;
					}
				}
				&:hover {
					td {
						background: #f7f7f7;
					}
				}
			}
		}
	}
}

@media (max-width: @screen-md-max) {
	.product-overview {
		margin-top: 20px;
		padding: 20px;
		&.product-offer-label {
			&:before {
				display: none;
			}
		}
		.similar-products {
			display: none;
		}
		.product-main-info {
			width: 50%;
			padding-left: 10px;
			float: left;
		}
		h1 {
			margin-top: 6px;
			margin-bottom: 21px;
		}
		.product-attributes {
			border-top: 1px solid #ebebeb;
			padding: 20px 0;
			border-bottom: 1px solid #ebebeb;
			margin-bottom: 11px;
		}
		.user-actions {
			.compare-trigger {
			}
			.pdf-link {
				display: none;
			}
			.print-link {
				display: none;
			}
		}
		.product-social-actions {
			padding-top: 17px;
		}
	}
	
	.small-info-box {
		font-size: 12px;
		margin-top: 18px;
		padding-top: 30px;
		border: 2px solid #e0e0e0;
		padding-left: 27px;
		line-height: 15px;
		h1,h2,h3,h4,h5,h6 {
			margin: 4px 0 7px;
			float: left;
			width: 31%;
		}
		p {
			float: left;
			width: 33%;
			margin: 0;
		}
		.btn {
			float: right;
		}
	}
	.box-buy-now {
		margin-top: 23px;
		p {
			clear: both;
			border-top: 1px solid #ebebeb;
			padding-left: 7px;
			padding-top: 16px;
		}
		.stock-indicator {
			border-bottom: 1px solid #ebebeb;
			border-top: 0;
			padding-top: 0;
			padding-bottom: 14px;
			margin-bottom: 15px;
		}
		.product-quantity {
			width: 30px;
			color: #999999;
			input {
				color: #333;
				border: 1px solid #e6e6e6;
				border-radius: 2px;
			}
		}
		.product-prices {
			margin-left: 7px;
			margin-bottom: 15px;
			width: 185px;
			.main-price {
				display: block;
			}
		}
		.btn {
			width: 236px;
			float: right;
			clear: none;
			margin-right: 7px;
		}
	}
	.product-details {
		table {
			border-top: 1px solid #ebebeb;
		}
		tr {
			th,
			td {
				border-bottom: 1px solid #ebebeb;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	.product-overview {
		margin-left: -@mobile-sides-offset;
		margin-right: -@mobile-sides-offset;
		h2, h3, h4 {
			font-size: 16px;
			padding: 0;
			margin-bottom: 13px;
		}
		.product-details {
			table {
				font-size: 11px;
				line-height: 14px;
				th {
					width: 112px;
				}
				td, th {
					vertical-align: top;
					padding: 9px 3px 9px 0;
				}
			}
			.expand-details {
				padding: 15px 0 6px;
			}
		}
	}
	.box-buy-now {
		margin: 20px 5px 0;
		p {
			border-top: 0;
			padding: 0;
			padding-left: 3px;
		}
		.product-prices {
			margin-left: 3px;
		}
		.product-quantity {
			float: right;
			margin-right: 5px;
		}
		.btn {
			float: none;
			clear: both;
			margin: 0;
			width: auto;
		}
	}
	.small-info-box {
		margin-bottom: 20px;
		margin-left: 5px;
		margin-right: 5px;
		padding: 21px 22px 7px;
		font-size: 11px;
		line-height: 14px;
		h1,h2,h3,h4,h5,h6 {
			float: none;
			width: auto;
			margin-top: 0;
		}
		p {
			float: none;
			width: auto;
			margin-bottom: 17px;
		}
		.btn {
			float: none;
		}
	}
}