.product-gallery {
	width: 497px;
	float: left;
	min-height: 320px;
	.product-miniatures {
		width: 50px;
		margin-right: 10px;
		float: left;
		ul {
			.hideListing();
		}
		li {
			margin-bottom: 10px;
			a {
				img {
					border: 3px solid #d9d9d9;
				}
				&:hover {
					img {
						border-color: @saffort-orange;
					}
				}
			}
		}
	}
	.large-picture {
		position: relative;
		float: left;
		ul {
			.hideListing();
			li {
				/*hack*/
				display: none;
				&:first-child {
					display: block;
				}
			}
		}
		a {
			span {
				position: absolute;
				display: none;
				width: 135px;
				height: 135px;
				padding: 62px 0 0;
				/*font-weight: 700;*/
				font-size: 15px;
				line-height: 16px;
				top: 85px;
				right: 144px;
				color: white;
				background: @saffort-orange url(../img/ico-zoom.png) no-repeat center 31px;
				text-align: center;
				.opacity(.8);
			}
			&:hover {
				span {
					display: block;
				}
			}
		}
	}
}

img {
	max-width: 100%;
}

@media (max-width: @screen-md-max) {
	.product-gallery {
		width: 50%;
		padding-right: 10px;
		min-height: 288px;
		.product-miniatures {
			display: none;
		}
	}
}

@media (max-width: @screen-xs-max) {
}