.sidebar-navigation {
	padding-top: 26px;
	h1, h2, h3 {
		color: #666;
		font-size: 15px;
		font-weight: normal;
		margin: 0;
		margin-bottom: 23px;
	}
	.url-list {
		font-size: 11px;
		margin-bottom: 29px;
	}
}
.sidebar-navigation-target {
	display: none;
	.sidebar-navigation { 
		margin-top: 0;
		padding-bottom: 3px;
		border: 0;
	}
}
@media (max-width: @screen-md-max) {
	.sidebar-navigation-target {
		z-index: 1555;
		position: absolute;
		background: white;
		border: 2px solid #dadada;
		border-top: 0;
		border-radius: 4px;
		border-top-left-radius: 0; 
		border-top-right-radius: 0; 
		margin: -25px -5px 0;
		h1, h2, h3 {
			color: #bbb;
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 8px;
		}
		.url-list {
			font-size: 14px;
			li {
				padding-top: 3px;
				padding-left: 18px;
				background-position: left 10px;
			}
		}
	}
}
@media (max-width: @screen-xs-max) {
	.sidebar-navigation-target {
		margin-top: -19px;
		padding-left: 10px;
		.sidebar-navigation {
			padding-top: 21px;
			margin-bottom: 0;
		}
		.url-list {
			margin-bottom: 26px;
			li {
				background-position: left 9px;
				padding-top: 2px;
			}
		}
	}
}