.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: none;
    overflow-y: auto;


    &.right {
        left: auto;
        right: -260px;
    }

    &.left {
        left: -260px;
        right: auto;
    }

	.mobile-menu-toggle {
		display: none;
	}


    input[type=checkbox] {
        width: auto;
        display: inline;
        clear: none;
    }

}
#sidr-right {
	font-size: 14px;
	background: #3b3b3b;
	padding: 32px 25px;
	.sidr-inner {
		border-top: 1px solid #484848;
    }
	.dropdown {
		display: none;
	}
	li {
		border-bottom: 1px solid #484848;
		float: none;
		line-height: 20px;
		&.highlighted {
			text-transform: uppercase;
			a {
				color: #ff6900;	
			}
		}
	}
	a {
		padding-left: 5px;
		color: #cccccc;
		.total-count {
			color: #777;
		}
		&:hover {
			color: #ff6900;	
		}
	}
}