@compare-block-width: 100px;
@desktop-sticky-top: 368px;
@tablet-sticky-top: 302px;

.sticky {
	z-index: 122;
	background: url(../img/stickies.png) no-repeat;
	width: 26px;
	position: fixed;
	top: @desktop-sticky-top;
	text-indent: -3000px;
	cursor: pointer;
	// fix chrome fixed position bug
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
	&.filter-sticky {
		left: 0;
		background-position: 0 -116px;
		height: 91px;
		.transition(left .2s ease-in-out);
		&:hover {
			background-position: -31px -116px;
		}
		&.active {
			left: 260px;
		}
	}
	&.compare-sticky {
		.transition(right .2s ease-in-out);
		right: 0;
		height: 111px;
		background-position: 0 0;
		&:hover {
			background-position: -31px top;
		}
		&.open {
			right: @compare-block-width;
			height: 26px;
			background: #a5a5a5 url(../img/btn-arw.png) no-repeat 8px -27px;
			&:hover {
				background-color: @saffort-orange;
			}
		}
	}
}

.compare-list {
	display: block;
	width: @compare-block-width;
	background: #262626;
	padding: 10px;
	position: fixed;
	right: -@compare-block-width;
	z-index: 1022;
	top: @desktop-sticky-top;// ar tikrai - nesimato tada mygtuko
	.transition(right .2s ease-in-out);
	// fix chrome fixed position bug
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
	ul {
		.hideListing();
	}
	li {
		display: block;
		background: white;
		margin-bottom: 10px;
		height: 80px;
		width: 80px;
		position: relative;
		color: #999;
		font-size: 11px;
		line-height: 11px;
		text-align: center;
		.compare-product {

		}
		.compare-product-close {
			position: absolute;
			top: 1px;
			display: block;
			right: 1px;
			width: 13px;
			height: 13px;
			background: url(../img/ico-close.png) no-repeat 0 0;
			&:hover {
				background-position: 0 -13px;
			}
		}
		&.empty {
			padding:30px 10px 0;
		}
	}
	.btn {
		text-transform: uppercase;
		font-size: 13px;
		background: @saffort-orange;
		border-color: @saffort-orange;
		padding: 3px 0 2px;
		&:hover {
			border-color: #575757;
			background: #333;
		}
	}
	&.open {
		right: 0;
	}
}

@media (max-width: @screen-md-max) {
	.sticky {
		top: @tablet-sticky-top;
	}

	.compare-list {
		top: @tablet-sticky-top;
		li {
			&:nth-child(3) {
				display: none;
			}
		}
	}
}