@desktop-line-height: 18px;

.block-for-text {
	background: white;
	border-bottom: 2px solid #e6e6e6;
	padding: 30px;
	padding-top: 24px;
	margin-bottom: 20px;
	.clearfix();
	h1 {
		padding-bottom: 3px;
		color: @saffort-orange;
		border-bottom: 2px solid @saffort-orange;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 30px;
		margin-top: 0;
		display: inline-block;
		position: relative;
		margin-bottom: 25px;
		&:after {
			content: ' ';
			display: block;
			border: 8px solid transparent;
			border-top-color: @saffort-orange;
			width: 0;
			height: 0;
			position: absolute;
			bottom: -16px;
			left: 50%;
			margin-left: -7px;
		}
		&.submenu-dropdown-trigger {
			&.active {
				z-index: 155;
			}
		}
	}
	.lead {
		color: #999;
		font-size: inherit;
		margin-bottom: 2 * @desktop-line-height;
	}
	h2 {
		color: #999;
		line-height: 22px;
		font-size: 17px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	h3 {
		font-weight: 700;
		color: #333;
		font-size: 13px;
		line-height: 18px;
		margin-top: 31px;
		margin-bottom: 11px;
	}
	p {
		line-height: @desktop-line-height;
		margin-bottom: @desktop-line-height;
	}
	> img,
	p > img {
		border: 4px solid @saffort-border;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	> img.pull-left {
		margin-bottom: 24px;
		margin-right: 20px;
	}
	> img.pull-right {
		margin-bottom: 24px;
		margin-left: 20px;
	}
	ul, ol {
		.hideListing();
		margin-bottom: 31px;
		li {
			position: relative;
			&:before {
				position: absolute;
				left: 0;
			}
		}
		&.multiline {
			li {
				margin-bottom: 10px;
			}
		}
	}
	ul {
		li {
			padding-left: 11px;
			&:before {
				display: inline-block;
				width: 4px;
				height: 4px;
				content: ' ';
				top: 7px;
				background: @saffort-orange;
			}
		}
		&.url-list {
			li {
				padding-left: 15px;
				padding-bottom: 3px;
				&:before {
					content: '';
					display: none;
				}
			}
		}
		&.pagination {
			li {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	ol {
		counter-reset: item;
		li {
			padding-left: 18px;
			&:before {
				font-weight: 700;
				content: counter(item) ". ";
				counter-increment: item;
				color: @saffort-orange;
			}
		}
	}
	.table {
		margin-bottom: 29px;
		caption {
			font-weight: 700;
			color: #333;
			font-size: 13px;
			line-height: 18px;
			margin-top: 10px;
			margin-bottom: 19px;
			text-align: left;
		}
		thead {
			th {
				background: #f7f7f7;
			}
		}
		th, td {
			border: 0;
			border-left: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;
			padding: 18px;
		}
		td {
			padding-top: 23px;
			padding-bottom: 19px;
		}
	}
	blockquote {
		border: 0;
		font-style: italic;
		color: inherit;
		font-size: inherit;
		padding: 16px 102px 16px 51px;
		footer {
			color: inherit;
			font-size: 100%;
			font-style: normal;
			&:before {
				display: none;
			}
		}
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			color: @saffort-orange;
		}
	}
	.multicolumn-text {
		padding-top: 10px;
		h2, h3, p, ul, ol {
			&:first-child {
				margin-top: 0
			}
		}
		blockquote {
			padding: 0; 
			padding-left: 20px; 
			border-left: 3px solid @saffort-orange;
		}
	}
}

@media (max-width: @screen-md-max) {
	.block-for-text {
		margin-top: @tablet-sides-offset;
		h1 {
			font-size: 26px;
			&.submenu-dropdown-trigger {
				background: white;
				margin: 6px -5px 25px;
				padding: 11px 20px 13px;
				display: block;
				border: 2px solid #dadada;
				cursor: pointer;
				border-radius: 4px;
				&:after {
					border-top-color: #333333;
					left: auto;
					right: 24px;
					bottom: 50%;
					margin-bottom: -14px;
				}
				&.active {
					border-bottom-left-radius: 0; 
					border-bottom-right-radius: 0; 
				}
			}
		}
		.multicolumn-text {
			.col-xs-12 {
				padding-bottom: 13px;
			}
			blockquote {
				margin-top: 15px;
				margin-left: 21px;
				padding-left: 30px;
			}
		}
	}
}
@media (max-width: @screen-xs-max) {
	.block-for-text {
		margin-top: 0;
		padding-left: 23px;
		padding-right: 23px;
		.table {
			th, td {
				padding: 8px;
			}
		}
		blockquote {
			padding-right: 0;
		}
		h1 {
			font-size: 22px;
			&:after {
				display: none;
			}
			&.submenu-dropdown-trigger {
				margin-bottom: 19px;
				margin-top: -1px;
				padding: 10px 20px;
				&:after {
					display: block;
					margin-bottom: -11px;
				}
			}
		}
		h2 {
			font-size: 15px;
			line-height: 22px;
		}
		.pagination-holder {
			margin-top: -25px;
			border-top: 1px solid #e6e6e6;
			left: 0;
			.pagination {
				margin: 30px 0 10px;
			}
		}
	}
}