.thank-you-page {
	padding-top: 99px;
	padding-bottom: 99px;
	h1, h2, h3 {
		color: #1dd67d;
		text-transform: uppercase;
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 16px;
		margin-top: 37px;
	}
}

.continue {
	&:before {
		content: ' ';
		display: inline-block;
		width: 8px;
		margin-right: 2px;
		height: 9px;
		background: url(../img/inner-sprite.png) no-repeat -9px -54px;
	}
	&:hover {
		color: black !important;
		&:before {
			background-position: -1px -54px;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.thank-you-page {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}