#topMenu {
	margin-top: 10px;
	width: 100%;
	padding-top: 90px;
	font-family: @font-roboto;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	.nav {
		> li {
			> a {
				> .total-count {
					display: none;
				}
			}
		}
	}
	li {
		margin: 0;
		padding: 13px 1px 5px 1px;
		a {
			border-left: 1px solid @saffort-light-border;
			color: #333;
			padding: 2px 13px 1px 15px;
			&:hover {
				color: #ff6900;
				.caret {
					background-position: left top;
				}
			}
		}
		&.highlighted {
			a {
				color: @saffort-orange;
			}
		}
		&.active {
			a {
				color: @saffort-orange;
				position: relative;
				&:after {
					content: ' ';
					display: block;
					border: 5px solid transparent;
					border-top-color: @saffort-orange;
					width: 0;
					height: 0;
					position: absolute;
					bottom: -12px;
					left: 50%;
					margin-left: -5px;
				}
			}
		}
		&.dropdown {
			a {
				padding-right: 20px;
			}
		}
		&:first-child {
			a {
				border: 0;
			}
		}
		&.open {
			background: white;
			border: 1px solid @saffort-light-border;
			border-bottom: 0;
			padding: 12px 0 0;
			a {
				border: 0;
				color: #ff6900;
				background: white;
				padding-bottom: 13px;
				z-index: @zi-top-menu-active-link;
				.caret {
					background-position: left top;
				}
			}
			+ li {
				a {
					border-color: transparent;
				}
			}
		}
	}
	
	.mobile-menu-toggle {
		display: none;
	}
	
	.dropdown-menu {
		min-width: 320px;
		padding: 25px 0 23px 20px;
		border: 1px solid @saffort-light-border;
		margin: -1px 0 0 -1px;
		z-index: @zi-top-menu-dropdown;
		font-size: 13px;
		text-transform: none;
		min-width: 717px;
		ul {
			float: left;
			list-style: none;
			padding: 0;
			min-width: 200px;
			li {
				padding: 3px 0;
				list-style: none;
				a {
					padding: 0;
					color: #666;
					.total-count {
						color: #ff6900;
					}
					&:hover {
						text-decoration: none;
						color: #ff6900;
					}
				}
			}
		}
		.dropdown-categorie-listing {
			border-top: 1px solid #d6d6d6;
			border-bottom: 1px solid #d6d6d6;
			color: #b2b2b2;
			position: relative;
			padding: 14px 0 17px;
			float: left;
			margin-right:30px;
			margin-bottom: 22px;
			h3 {
				position: absolute;
				font-size: 11px;
				margin: 0;
				top: -8px;
				left: 0;
				background: white;
				padding: 0 4px 0 0;
			}
			ul + ul {
				padding-left: 35px;
				min-width: 235px;
			}
		}
	}
}

@media (max-width: @screen-md-max) {
	#topMenu {
		float: right;
		width: auto;
		padding: 0;
		margin: 33px 10px 0 0;
		> .nav {
			display: none;
		}
		.mobile-menu-toggle {
			line-height: 22px;
			display: block;
			color: #ff6900;
			font-size: 14px;
			font-weight: normal;
			cursor: pointer;
			text-transform: none;
			.icon {
				vertical-align: middle;
				border: 1px solid #ff6900;
				padding: 4px 4px 1px;
				display: inline-block;
				margin-left: 6px;
				i {
					height: 2px;
					display: block;
					margin-bottom: 3px;
					width: 17px;
					background: #ff6900;
				}
			}
			&:hover,
			&.active {
				color: white;
				.icon {
					border-color: white;
					i {
						background: white;
					}
				}
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	#topMenu {
		margin-right: 5px;
		margin-top: 40px;
		.mobile-menu-toggle {
			span {
				display: none;
			}
			.icon {
				display: inline-block;
			}
		}
	}
}