.why-icon {
	display: block;
	margin: 15px 28px 15px 11px;
	width: 65px;
	height: 50px;
	background: url(../img/why.png) no-repeat;
	&.why-icon-safe {
		background-position: -64px -3px;
	}
	&.why-icon-label {
		background-position: -64px -103px;
	}
	&.why-icon-lock {
		background-position: -64px -204px;
	}
	&.why-icon-trust {
		background-position: -64px -154px;
	}
	&.why-icon-truck {
		background-position: -64px -53px;
	}
	&.why-icon-headphone {
		background-position: 1px -153px;
	}
	&.why-icon-warranty {
		background-position: 1px -203px;
	}
	&.why-icon-smile {
		background-position: 1px -3px;
	}
	&.why-icon-return {
		background-position: 1px -53px;
	}
	&.why-icon-pig {
		background-position: 1px -103px;
	}
}
.why-media-holder {
	p + &,
	h2 + & {
		padding-top: 15px;
	}
	.media {
		min-height: 80px;
		margin-bottom: 40px;
		.media-heading {
			text-transform: uppercase;
			margin-top: 7px;
		}
		p {
			margin-bottom: 0;
		}
	}
}