.bank-logo {
  background: transparent url("../img/banks-sprite.png") no-repeat;
  height: 32px;
  width: 52px;
  display: block;
  text-indent: -8000px;
}
.bank-logo.visa-logo {
  background-position: 0 0;
}
.bank-logo.visa-logo:hover {
  background-position: 0 -33px;
}
.bank-logo.master-logo {
  background-position: -52px 0;
}
.bank-logo.master-logo:hover {
  background-position: -52px -33px;
}
.bank-logo.maestro-logo {
  background-position: -104px 0;
}
.bank-logo.maestro-logo:hover {
  background-position: -104px -33px;
}
.bank-logo.discover-logo {
  background-position: -156px 0;
}
.bank-logo.discover-logo:hover {
  background-position: -156px -33px;
}
.bank-logo.paypal-logo {
  background-position: -208px 0;
}
.bank-logo.paypal-logo:hover {
  background-position: -208px -33px;
}
html,
body {
  min-height: 100%;
}
body {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  color: #666666;
}
a {
  color: #ff6600;
}
a:hover {
  color: #666666;
}
textarea:focus,
input:focus {
  outline: 0;
}
.container-fluid {
  max-width: 1200px;
}
/* way the hell off screen */
.scrollbar-measure {
  width: 10px;
  height: 10px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .scrollbar-measure {
    width: 20px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .scrollbar-measure {
    width: 30px;
  }
}
ul.url-list {
  font-family: Arial, sans-serif;
  font-size: 13px;
  list-style: none;
  list-style-position: outside;
  padding: 0;
}
ul.url-list li {
  background: url(../img/url-list.png) no-repeat left 6px;
  padding: 2px 15px 1px;
}
ul.url-list a {
  color: #666;
  text-decoration: none;
}
ul.url-list a:hover {
  color: #ff6600;
  text-decoration: none;
}
.media .media-heading {
  margin-top: 0;
}
.disabled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.caret {
  margin: 0 0 1px;
  background: url(../img/top-menu-caret.png) no-repeat left bottom;
  border: 0;
  width: 11px;
  height: 7px;
}
.caret-left,
.caret-right {
  display: block;
  text-indent: -8000px;
  height: 20px;
  width: 8px;
  padding: 0;
  background: url(../img/top-menu-caret.png) no-repeat;
}
.caret-right {
  background-position: -42px -55px;
}
.caret-left {
  background-position: -31px -55px;
}
.back-to-top {
  color: #666;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 3px;
  display: block;
  text-align: right;
}
.back-to-top:before {
  content: ' ';
  background: url(../img/top-menu-caret.png) no-repeat -15px -55px;
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-right: 3px;
}
.back-to-top:hover {
  color: #ff6600;
  text-decoration: none;
}
.back-to-top:hover:before {
  background-position: -15px 5px;
}
.link-to-pdf:before,
a[href$='.pdf']:before {
  content: ' ';
  background: url(../img/inner-sprite.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: sub;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.info-icon {
  background: url(../img/ico-info.png) no-repeat left top;
  display: inline-block;
  height: 11px;
  width: 11px;
}
.info-icon:hover {
  background-position: left bottom;
}
.btn-buy-small {
  display: block;
  width: 28px;
  height: 28px;
  border: 0;
  background: #2ae289 url(../img/ico-cart.png) no-repeat 5px 6px;
}
.btn-buy-small:focus,
.btn-buy-small:hover {
  background-color: #009966;
}
@media (max-width: 767px) {
  .back-to-top {
    text-align: center;
  }
  .fill-xs {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background-color: #009966;
  border-color: #009966;
}
.btn,
.btn-lg {
  border-radius: 0;
}
.sticky {
  z-index: 122;
  background: url(../img/stickies.png) no-repeat;
  width: 26px;
  position: fixed;
  top: 368px;
  text-indent: -3000px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.sticky.filter-sticky {
  left: 0;
  background-position: 0 -116px;
  height: 91px;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.sticky.filter-sticky:hover {
  background-position: -31px -116px;
}
.sticky.filter-sticky.active {
  left: 260px;
}
.sticky.compare-sticky {
  -webkit-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
  right: 0;
  height: 111px;
  background-position: 0 0;
}
.sticky.compare-sticky:hover {
  background-position: -31px top;
}
.sticky.compare-sticky.open {
  right: 100px;
  height: 26px;
  background: #a5a5a5 url(../img/btn-arw.png) no-repeat 8px -27px;
}
.sticky.compare-sticky.open:hover {
  background-color: #ff6600;
}
.compare-list {
  display: block;
  width: 100px;
  background: #262626;
  padding: 10px;
  position: fixed;
  right: -100px;
  z-index: 1022;
  top: 368px;
  -webkit-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.compare-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.compare-list li {
  display: block;
  background: white;
  margin-bottom: 10px;
  height: 80px;
  width: 80px;
  position: relative;
  color: #999;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}
.compare-list li .compare-product-close {
  position: absolute;
  top: 1px;
  display: block;
  right: 1px;
  width: 13px;
  height: 13px;
  background: url(../img/ico-close.png) no-repeat 0 0;
}
.compare-list li .compare-product-close:hover {
  background-position: 0 -13px;
}
.compare-list li.empty {
  padding: 30px 10px 0;
}
.compare-list .btn {
  text-transform: uppercase;
  font-size: 13px;
  background: #ff6600;
  border-color: #ff6600;
  padding: 3px 0 2px;
}
.compare-list .btn:hover {
  border-color: #575757;
  background: #333;
}
.compare-list.open {
  right: 0;
}
@media (max-width: 1199px) {
  .sticky {
    top: 302px;
  }
  .compare-list {
    top: 302px;
  }
  .compare-list li:nth-child(3) {
    display: none;
  }
}
#logo {
  float: left;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#logo img {
  height: 135px;
  width: 135px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1199px) {
  #logo {
    margin-left: -20px;
  }
  #logo img {
    height: 90px;
    width: 90px;
  }
}
@media (max-width: 767px) {
  #logo {
    margin-left: -15px;
    z-index: 101;
  }
  #logo img {
    height: 80px;
    width: 80px;
  }
}
#header {
  height: 90px;
  background: #1a1a1a;
  margin-bottom: 69px;
}
#header .safes-available {
  float: left;
  margin: 12px 20px 0 0;
  height: 65px;
  padding: 0 33px 0 20px;
  color: #666;
  line-height: 17px;
  font-size: 12px;
  border-right: 1px solid #262626;
  font-family: Roboto, Arial, sans-serif;
}
#header .safes-available .heading {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #ff6900;
  margin: 15px 0 4px;
}
#header .safes-available .total {
  color: white;
  background: #262626 url(../img/total.png) repeat-x left 50%;
  border-radius: 2px;
  padding: 0 2px;
  margin-right: 7px;
  display: inline-block;
}
#header .language-selector {
  float: left;
  margin: 34px 20px 0 10px;
  line-height: 20px;
}
#header .language-selector a {
  font-size: 11px;
  border: 1px solid #282828;
  color: #999;
  display: block;
  padding: 0 6px;
}
#header .language-selector a:hover {
  color: #fff;
  text-decoration: none;
  background: transparent;
}
#header .language-selector a[data-toggle=dropdown] {
  min-width: 40px;
  background: url(../img/arw.png) no-repeat 25px 8px;
}
#header .language-selector a[data-toggle=dropdown]:hover {
  background-color: #282828;
  border: 1px solid #494949;
}
#header .language-selector.open a[data-toggle=dropdown] {
  background-color: #282828;
  text-decoration: none;
  border: 1px solid #494949;
}
#header .language-selector .dropdown-menu {
  padding: 4px 0;
  margin: -1px 0 0;
  border-radius: 0;
  border: 1px solid #494949;
  background: #282828;
  min-width: 40px;
}
#header .language-selector .dropdown-menu > li > a {
  line-height: 14px;
  border: 0;
}
#header .search-form {
  float: left;
  color: white;
  position: relative;
  margin-top: 29px;
  width: 250px;
  margin-right: 20px;
}
#header .search-form input[type=text] {
  border: 0;
  font-size: 12px;
  background: #282828;
  line-height: 32px;
  height: 32px;
  padding: 0 40px 0 10px;
  border-radius: 3px;
  width: 100%;
}
#header .search-form button {
  background: transparent;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  padding: 0 8px;
  line-height: 32px;
  height: 32px;
}
#header .search-form .close-search {
  display: none;
}
#header .header-contacts {
  float: left;
  font-family: Roboto, Arial, sans-serif;
  margin: 28px 20px 0;
  line-height: 18px;
}
#header .header-contacts .phone {
  color: white;
  font-size: 15px;
  display: block;
}
#header .header-contacts .phone i {
  color: #ff6600;
  font-size: 12px;
  padding-right: 2px;
}
#header .header-contacts .email {
  font-size: 12px;
  color: #666;
  background: url(../img/mail-sprite.png) no-repeat left 4px;
  padding-left: 18px;
}
#header .header-contacts .email:hover {
  color: #fff;
  text-decoration: none;
  background-position: left -21px;
}
#header .badges-slider {
  float: left;
  margin: 15px 14px 0;
  width: 78px;
  min-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  line-height: 11px;
  position: relative;
}
#header .badges-slider .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 36px;
  width: 78px;
  min-height: 60px;
  background: url(../img/badges-slider-icons.png) no-repeat center top;
}
#header .badges-slider .slider-item.badges-icon-truck {
  background-position: center 7px;
}
#header .badges-slider .slider-item.badges-icon-label {
  background-position: center -139px;
}
#header .shopping-cart {
  float: right;
  height: 56px;
  width: 146px;
  background: #0d0d0d;
  /*background: white;*/
  margin-top: 17px;
  font-family: Roboto, Arial, sans-serif;
  padding: 12px 0;
}
#header .shopping-cart .products-in-cart {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  color: #000;
  display: block;
  height: 32px;
  float: left;
  width: 55px;
  background: url(../img/ico-cart.png) no-repeat 16px 12px;
  position: relative;
}
#header .shopping-cart .products-in-cart span {
  right: 10px;
  top: 1px;
  background: #ff6600;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  display: block;
  border-radius: 7px;
  position: absolute;
}
#header .shopping-cart .products-in-cart:hover {
  text-decoration: none;
}
#header .shopping-cart .cart-name {
  float: left;
  height: 32px;
  line-height: 32px;
  border-left: 1px solid #262626;
  padding-left: 14px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  display: none;
}
#header .shopping-cart .total-price {
  color: white;
  font-size: 15px;
  display: block;
  line-break: 20px;
  height: 20px;
  margin-top: -3px;
}
#header .shopping-cart .login-link {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #ff6600;
}
#header .shopping-cart .login-link:before {
  content: ' ';
  height: 10px;
  width: 10px;
  display: inline-block;
  background: url(../img/ico-lock.png) no-repeat top left;
}
#header .shopping-cart .login-link:hover {
  text-decoration: none;
}
#header .shopping-cart .login-link:hover:before {
  background-position: -10px top;
}
#header .shopping-cart:hover {
  background: #282828;
}
#header .shopping-cart:hover .login-link {
  color: white;
}
#header .shopping-cart:hover .login-link:before {
  background-position: -10px top;
}
#header .shopping-cart.shopping-cart-empty .products-in-cart {
  background: url(../img/ico-cart-l.png) no-repeat 16px 4px;
}
#header .shopping-cart.shopping-cart-empty .products-in-cart span {
  display: none;
}
#header .shopping-cart.shopping-cart-empty .cart-name {
  display: block;
}
#header .shopping-cart.shopping-cart-empty .total-price,
#header .shopping-cart.shopping-cart-empty .login-link {
  display: none;
}
@media (max-width: 1199px) {
  #header {
    margin-bottom: 0;
  }
  #header .badges-slider,
  #header .safes-available {
    display: none;
  }
  #header .header-contacts {
    margin-top: 36px;
  }
  #header .header-contacts .phone {
    font-size: 14px;
    display: inline;
    margin-right: 13px;
  }
  #header .header-contacts .email {
    font-size: 14px;
    background-position: left 6px;
  }
  #header .language-selector {
    margin-right: 31px;
  }
  #header .search-form {
    position: absolute;
    left: 124px;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 30px;
    z-index: 9;
  }
  #header .search-form input[type=text] {
    margin-top: 1px;
    display: none;
    color: #666;
    background: white;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    width: 100%;
    padding: 0 28px;
  }
  #header .search-form input[type=text]::-ms-clear {
    display: none;
  }
  #header .search-form button {
    outline: 0;
    right: auto;
    left: -2px;
    color: #999;
  }
  #header .search-form button:hover {
    color: white;
  }
  #header .search-form.open {
    width: 60%;
  }
  #header .search-form.open input[type=text] {
    display: block;
  }
  #header .search-form.open button:hover {
    color: #ff6600;
  }
  #header .search-form.open .close-search {
    display: block;
    position: absolute;
    right: 8px;
    font-weight: normal;
    font-size: 26px;
    top: 2px;
    color: #b9b9b9;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  #header .shopping-cart {
    float: left;
    color: white;
    margin-top: 30px;
    margin-left: 67px;
    width: auto;
    padding: 7px 0;
    height: auto;
    background: transparent;
  }
  #header .shopping-cart .products-in-cart {
    background: url(../img/ico-cart-grey.png) no-repeat top left;
    height: 17px;
    width: 26px;
  }
  #header .shopping-cart .products-in-cart span {
    top: -8px;
    right: -1px;
  }
  #header .shopping-cart .login-link,
  #header .shopping-cart .total-price {
    display: none;
  }
  #header .shopping-cart.shopping-cart-empty .products-in-cart {
    background: url(../img/ico-cart-grey.png) no-repeat top left;
  }
  #header .shopping-cart.shopping-cart-empty .cart-name {
    display: none;
  }
  #header .shopping-cart:hover {
    background: transparent;
  }
  #header .shopping-cart:hover .products-in-cart {
    background: url(../img/ico-cart.png) no-repeat top left;
  }
}
@media (max-width: 767px) {
  #header {
    background: #262626;
    height: 80px;
  }
  #header .header-contacts {
    right: 0;
    z-index: 100;
    float: none;
    position: absolute;
    text-align: right;
    background: #1a1a1a;
    margin: 0 ;
    height: 24px;
    left: 80px;
    line-height: 12px;
    padding: 5px 9px 0 0;
  }
  #header .header-contacts .phone {
    font-size: 11px;
  }
  #header .header-contacts .phone i {
    display: none;
  }
  #header .header-contacts .email {
    margin-left: 2px;
    border-left: 1px solid #333;
    font-size: 11px;
    padding: 0 0 0 6px;
    background: none;
    color: #777777;
  }
  #header .search-form {
    left: 94px;
    top: 37px;
  }
  #header .search-form.open {
    width: 65%;
  }
  #header .shopping-cart {
    margin-top: 37px;
    margin-left: 42px;
  }
  #header .language-selector {
    margin-top: 41px;
    margin-left: 6px;
  }
  #header .language-selector a {
    border-color: #525252;
  }
}
.remove-product-icon {
  display: block;
  width: 13px;
  height: 16px;
  background: url(../img/inner-sprite.png) no-repeat -2px -38px;
}
.remove-product-icon:hover {
  background-position: -19px -38px;
}
.shopping-cart .popover {
  border: 0;
  padding: 0;
  color: #ccc;
  border-radius: 0;
}
.shopping-cart .popover .arrow {
  display: block;
}
.shopping-cart .popover .popover-title {
  border-radius: 0;
}
.shopping-cart .popover.bottom > .arrow {
  left: 20px;
}
.shopping-cart.shopping-cart-non-empty .popover {
  border: 1px solid #e5e5e5;
  background: white;
  padding: 21px 20px 25px 24px;
  max-width: 360px;
  margin-top: 5px;
}
.shopping-cart.shopping-cart-non-empty .popover .arrow {
  display: none;
}
.shopping-cart.shopping-cart-non-empty .popover h2,
.shopping-cart.shopping-cart-non-empty .popover h3 {
  font-weight: bold;
  font-size: 20px;
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.shopping-cart.shopping-cart-non-empty .popover .popover-content {
  padding: 0;
}
.shopping-cart.shopping-cart-non-empty .popover table {
  font-size: 12px;
  color: #999;
}
.shopping-cart.shopping-cart-non-empty .popover table td {
  vertical-align: top;
  padding: 10px 10px 20px;
}
.shopping-cart.shopping-cart-non-empty .popover table td.basket-product-picture {
  padding-left: 0;
}
.shopping-cart.shopping-cart-non-empty .popover table .qty {
  color: #333;
}
.shopping-cart.shopping-cart-non-empty .popover table strong {
  font-size: 14px;
  display: block;
  color: #555;
  min-width: 180px;
}
.shopping-cart.shopping-cart-non-empty .popover table .basket-product-price {
  display: block;
  color: #ff6600;
  font-size: 14px;
}
.shopping-cart.shopping-cart-non-empty .popover table .basket-product-price .vat {
  color: #ccc;
  font-size: 9px;
}
.shopping-cart.shopping-cart-non-empty .popover p {
  background: #f7f7f7;
  margin-bottom: 21px;
  text-align: right;
  font-size: 14px;
  color: #999;
  padding: 15px 15px 17px;
}
.shopping-cart.shopping-cart-non-empty .popover p .cart-price {
  font-size: 20px;
  font-weight: bold;
  color: #666;
}
.shopping-cart.shopping-cart-non-empty .popover .btn {
  float: right;
  font-weight: bold;
  font-size: 16px;
  padding: 7px 10px 7px 16px;
}
.shopping-cart.shopping-cart-non-empty .popover .btn:before {
  content: ' ';
  display: inline-block;
  width: 17px;
  margin-right: 7px;
  vertical-align: text-top;
  height: 20px;
  background: url(../img/inner-sprite.png) no-repeat -36px -17px;
}
#topMenu {
  margin-top: 10px;
  width: 100%;
  padding-top: 90px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
#topMenu .nav > li > a > .total-count {
  display: none;
}
#topMenu li {
  margin: 0;
  padding: 13px 1px 5px 1px;
}
#topMenu li a {
  border-left: 1px solid #cccccc;
  color: #333;
  padding: 2px 13px 1px 15px;
}
#topMenu li a:hover {
  color: #ff6900;
}
#topMenu li a:hover .caret {
  background-position: left top;
}
#topMenu li.highlighted a {
  color: #ff6600;
}
#topMenu li.active a {
  color: #ff6600;
  position: relative;
}
#topMenu li.active a:after {
  content: ' ';
  display: block;
  border: 5px solid transparent;
  border-top-color: #ff6600;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -5px;
}
#topMenu li.dropdown a {
  padding-right: 20px;
}
#topMenu li:first-child a {
  border: 0;
}
#topMenu li.open {
  background: white;
  border: 1px solid #cccccc;
  border-bottom: 0;
  padding: 12px 0 0;
}
#topMenu li.open a {
  border: 0;
  color: #ff6900;
  background: white;
  padding-bottom: 13px;
  z-index: 101;
}
#topMenu li.open a .caret {
  background-position: left top;
}
#topMenu li.open + li a {
  border-color: transparent;
}
#topMenu .mobile-menu-toggle {
  display: none;
}
#topMenu .dropdown-menu {
  min-width: 320px;
  padding: 25px 0 23px 20px;
  border: 1px solid #cccccc;
  margin: -1px 0 0 -1px;
  z-index: 100;
  font-size: 13px;
  text-transform: none;
  min-width: 717px;
}
#topMenu .dropdown-menu ul {
  float: left;
  list-style: none;
  padding: 0;
  min-width: 200px;
}
#topMenu .dropdown-menu ul li {
  padding: 3px 0;
  list-style: none;
}
#topMenu .dropdown-menu ul li a {
  padding: 0;
  color: #666;
}
#topMenu .dropdown-menu ul li a .total-count {
  color: #ff6900;
}
#topMenu .dropdown-menu ul li a:hover {
  text-decoration: none;
  color: #ff6900;
}
#topMenu .dropdown-menu .dropdown-categorie-listing {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  color: #b2b2b2;
  position: relative;
  padding: 14px 0 17px;
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}
#topMenu .dropdown-menu .dropdown-categorie-listing h3 {
  position: absolute;
  font-size: 11px;
  margin: 0;
  top: -8px;
  left: 0;
  background: white;
  padding: 0 4px 0 0;
}
#topMenu .dropdown-menu .dropdown-categorie-listing ul + ul {
  padding-left: 35px;
  min-width: 235px;
}
@media (max-width: 1199px) {
  #topMenu {
    float: right;
    width: auto;
    padding: 0;
    margin: 33px 10px 0 0;
  }
  #topMenu > .nav {
    display: none;
  }
  #topMenu .mobile-menu-toggle {
    line-height: 22px;
    display: block;
    color: #ff6900;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    text-transform: none;
  }
  #topMenu .mobile-menu-toggle .icon {
    vertical-align: middle;
    border: 1px solid #ff6900;
    padding: 4px 4px 1px;
    display: inline-block;
    margin-left: 6px;
  }
  #topMenu .mobile-menu-toggle .icon i {
    height: 2px;
    display: block;
    margin-bottom: 3px;
    width: 17px;
    background: #ff6900;
  }
  #topMenu .mobile-menu-toggle:hover,
  #topMenu .mobile-menu-toggle.active {
    color: white;
  }
  #topMenu .mobile-menu-toggle:hover .icon,
  #topMenu .mobile-menu-toggle.active .icon {
    border-color: white;
  }
  #topMenu .mobile-menu-toggle:hover .icon i,
  #topMenu .mobile-menu-toggle.active .icon i {
    background: white;
  }
}
@media (max-width: 767px) {
  #topMenu {
    margin-right: 5px;
    margin-top: 40px;
  }
  #topMenu .mobile-menu-toggle span {
    display: none;
  }
  #topMenu .mobile-menu-toggle .icon {
    display: inline-block;
  }
}
.nav.nav-tabs {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  border: 0;
  margin: 18px 0 22px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav.nav-tabs li {
  margin: 0;
  border-bottom: 2px solid #d9d9d9;
}
.nav.nav-tabs li + li {
  padding-left: 25px;
  padding-right: 3px;
}
.nav.nav-tabs a {
  color: #333;
  margin: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  padding: 8px 3px 8px;
  position: relative;
  bottom: -2px;
}
.nav.nav-tabs a:hover {
  color: #ff6600;
  text-decoration: none;
}
.nav.nav-tabs a:focus {
  border: 0;
  border-bottom: 2px solid transparent;
}
.nav.nav-tabs .active {
  background: transparent;
}
.nav.nav-tabs .active a {
  background: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  color: #ff6600;
}
.nav.nav-tabs .active a:hover {
  background: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  color: #ff6600;
}
.nav.nav-tabs .active a:focus {
  border: 0;
  border-bottom: 2px solid transparent;
}
.nav.nav-tabs .magic-line {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100px;
  height: 9px;
  background: transparent url(../img/arrow-edge.png) no-repeat center top;
  border: 0;
  border-top: 2px solid #ff6600;
  padding: 0;
}
.mobile-tabs-toggler {
  display: none;
}
@media (max-width: 1199px) {
  .nav.nav-tabs {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .mobile-tabs-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 109;
    background-color: rgba(0, 0, 0, 0.7);
    /*dim the background*/
  }
  .mobile-tabs-overlay.active {
    display: block;
  }
}
@media (max-width: 767px) {
  .mobile-tabs-toggler {
    display: block;
    background: white;
    border: 2px solid #e6e6e6;
    text-transform: uppercase;
    cursor: pointer;
    color: #666;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    margin: 10px 0 11px 0;
    border-radius: 3px;
    padding: 5px 9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .mobile-tabs-toggler .caret {
    margin-top: 7px;
    float: right;
    background-position: left -60px;
  }
  .mobile-tabs-toggler:hover {
    color: #ff6900;
  }
  .mobile-tabs-toggler + .nav {
    display: none;
  }
  .mobile-tabs-toggler.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #ff6900;
    z-index: 113;
    position: relative;
  }
  .mobile-tabs-toggler.active .caret {
    margin-top: 7px;
    float: right;
    background-position: -17px top;
  }
  .mobile-tabs-toggler.active + .nav {
    position: absolute;
    z-index: 113;
    top: 44px;
    display: block;
    background: white;
    margin: 0;
    border: 2px solid #e6e6e6;
    border-top: 0;
    font-size: 14px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 8px;
    padding-bottom: 12px;
  }
  .mobile-tabs-toggler.active + .nav li {
    float: none;
    padding: 0;
    border: 0;
  }
  .mobile-tabs-toggler.active + .nav li a {
    border: 0;
    padding: 3px 13px;
    display: block;
  }
  .mobile-tabs-toggler.active + .nav li a:hover {
    border: 0;
  }
  .mobile-tabs-toggler.active + .nav li + li {
    padding: 0;
  }
  .mobile-tabs-toggler.active + .nav li.active a {
    border: 0;
  }
  .mobile-tabs-toggler.active + .nav li.active a:after {
    display: none;
  }
  .mobile-tabs-toggler.active + .nav li.magic-line {
    display: none;
  }
}
.block-news-and-updates {
  padding: 32px 4px 0 0;
  color: #777;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: right;
}
.block-news-and-updates a {
  color: #777;
}
.block-news-and-updates a:hover {
  color: #ff6600;
  text-decoration: none;
}
.block-news-and-updates .block-date {
  color: #999;
}
.block-news-and-updates .ico-next,
.block-news-and-updates .ico-prev {
  display: inline-block;
  text-indent: -8000px;
  width: 6px;
  height: 9px;
  text-align: left;
  vertical-align: middle;
  margin-left: 3px;
  margin-bottom: 2px;
  background: url(../img/top-menu-caret.png) no-repeat;
}
.block-news-and-updates .ico-prev {
  background-position: -33px bottom;
}
.block-news-and-updates .ico-prev:hover {
  background-position: -33px top;
}
.block-news-and-updates .ico-next {
  background-position: -44px bottom;
}
.block-news-and-updates .ico-next:hover {
  background-position: -44px top;
}
#homepage-teaser-carousel {
  background: white;
  height: 330px;
  overflow: hidden;
}
#homepage-teaser-carousel .item {
  color: #999;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  padding-left: 40px;
  min-height: 330px;
}
#homepage-teaser-carousel .item .slider-title {
  font-size: 30px;
  overflow: hidden;
  line-height: 36px;
}
#homepage-teaser-carousel .type-slider-02 {
  background: url(../img/slider-type2-bg.png) no-repeat 141px 240px;
  padding-top: 25px;
  position: relative;
}
#homepage-teaser-carousel .type-slider-02 .slider-title {
  margin-top: 13px;
  margin-bottom: 28px;
  max-height: 72px;
  max-width: 58%;
}
#homepage-teaser-carousel .type-slider-02 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 230px;
}
#homepage-teaser-carousel .type-slider-02 ul li {
  padding-left: 16px;
  padding-bottom: 6px;
  background: url(../img/tick.png) no-repeat left 5px;
}
#homepage-teaser-carousel .type-slider-02 .slider-product {
  position: absolute;
  right: 106px;
  top: 25px;
}
#homepage-teaser-carousel .type-slider-02 .slider-product img {
  max-height: 280px;
  max-width: 240px;
}
#homepage-teaser-carousel .type-slider-02 .slider-product .product-prices {
  font-size: 14px;
  position: absolute;
  top: 104px;
  width: 209px;
  height: 82px;
  left: -209px;
  background: #ffffff url(../img/slider-type2-label.png) no-repeat top left;
  padding: 11px 10px 11px 22px;
}
#homepage-teaser-carousel .type-slider-02 .slider-product .product-prices .main-price {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}
#homepage-teaser-carousel .type-slider-02 .slider-product .product-prices .main-price .vat {
  font-weight: normal;
  font-size: 11px;
}
#homepage-teaser-carousel .type-slider-03 {
  padding-top: 34px;
  padding-right: 15px;
  padding-bottom: 15px;
}
#homepage-teaser-carousel .type-slider-03 .slider-title {
  margin-bottom: 22px;
  max-height: 108px;
}
#homepage-teaser-carousel .type-slider-03 ul {
  max-width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: url(../img/slider-type3-border-bottom.png) no-repeat left bottom;
}
#homepage-teaser-carousel .type-slider-03 ul li {
  list-style: none;
  background: url(../img/ico-shield.png) no-repeat left top;
  padding-left: 25px;
  padding-bottom: 9px;
  min-height: 20px;
  line-height: 20px;
}
#homepage-teaser-carousel .type-slider-03 ul,
#homepage-teaser-carousel .type-slider-03 .slider-title {
  position: relative;
  z-index: 3;
}
#homepage-teaser-carousel .type-slider-03 img {
  position: absolute;
  right: 17px;
  bottom: 18px;
  max-height: 230px;
  max-width: 560px;
  z-index: 1;
}
#homepage-teaser-carousel .carousel-control {
  display: none;
}
#homepage-teaser-carousel .carousel-indicators {
  bottom: 4px;
}
#homepage-teaser-carousel .carousel-indicators li {
  margin-right: 0;
  border-width: 2px;
}
#homepage-teaser-carousel .carousel-indicators .active {
  border: 0;
  width: 10px;
  height: 10px;
}
@media (min-width: 1200px) {
  .carousel-indicators {
    left: 40px;
    margin-left: 0;
    text-align: left;
  }
}
@media (max-width: 1199px) {
  #homepage-teaser-carousel {
    margin-left: -20px;
    margin-right: -20px;
    height: 288px;
  }
  #homepage-teaser-carousel .item {
    height: 288px;
    min-height: 288px;
    padding-left: 36px;
  }
  #homepage-teaser-carousel .item .slider-title {
    font-size: 26px;
  }
  #homepage-teaser-carousel .type-slider-02 {
    padding-top: 18px;
    background-position: 141px 210px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product {
    right: 93px;
    top: 22px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product img {
    max-height: 244px;
    max-width: 210px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product .product-prices {
    font-size: 12px;
    top: 91px;
    width: 183px;
    height: 72px;
    padding: 9px 10px 9px 20px;
    left: -183px;
    background-position: left -83px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product .product-prices .main-price {
    font-size: 24px;
    line-height: 28px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product .product-prices .main-price .vat {
    font-size: 10px;
  }
  #homepage-teaser-carousel .type-slider-03 {
    padding-top: 31px;
    font-size: 11px;
  }
  #homepage-teaser-carousel .type-slider-03 .slider-title {
    line-height: 32px;
  }
  #homepage-teaser-carousel .type-slider-03 ul li {
    padding-left: 25px;
    padding-bottom: 5px;
    background-size: 16px auto;
  }
  #homepage-teaser-carousel .type-slider-03 img {
    max-height: 200px;
    max-width: 490px;
  }
}
@media (max-width: 767px) {
  #homepage-teaser-carousel {
    margin-left: -15px;
    margin-right: -15px;
    height: 120px;
    overflow: hidden;
  }
  #homepage-teaser-carousel .item {
    height: 120px;
    min-height: 120px;
  }
  #homepage-teaser-carousel .item p {
    display: none;
  }
  #homepage-teaser-carousel .item p.slider-title {
    display: block;
  }
  #homepage-teaser-carousel .item ul {
    display: none;
  }
  #homepage-teaser-carousel .type-slider-02 {
    padding: 10px 15px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-title {
    margin-top: 2px;
    max-width: 68%;
    font-size: 12px;
    line-height: 14px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product {
    right: 24px;
    top: 8px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product img {
    max-height: 100px;
    max-width: 86px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product .product-prices {
    font-size: 10px;
    top: 28px;
    width: 145px;
    height: 47px;
    padding: 7px 10px;
    left: -185px;
    background-position: left -154px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product .product-prices .main-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
  }
  #homepage-teaser-carousel .type-slider-02 .slider-product .product-prices .main-price .vat {
    font-size: 10px;
  }
  #homepage-teaser-carousel .type-slider-03 {
    padding: 13px 13px;
    font-size: 11px;
  }
  #homepage-teaser-carousel .type-slider-03 .slider-title {
    font-size: 11px;
    line-height: 14px;
  }
  #homepage-teaser-carousel .type-slider-03 img {
    max-height: 87px;
    max-width: 211px;
    bottom: 10px;
    right: 10px;
  }
  #homepage-teaser-carousel .carousel-indicators {
    bottom: -3px;
  }
}
.block-wizzard {
  background: #ff6900 url(../img/block-wizzard-desktop.png) no-repeat right 127px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  min-height: 330px;
  padding: 24px 27px;
  position: relative;
}
.block-wizzard p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  padding-right: 80px;
}
.block-wizzard p.block-wizzard-title {
  padding-right: 0;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.block-wizzard a.btn {
  background: #f35000;
  bottom: 30px;
  border: 0;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  left: 30px;
  height: 35px;
  line-height: 36px;
  padding: 0 16px 0 10px;
  position: absolute;
}
.block-wizzard a.btn:after {
  background: #f35000 url(../img/btn-arw.png) no-repeat center 7px;
  content: ' ';
  display: block;
  height: 35px;
  position: absolute;
  right: -36px;
  top: 0;
  width: 35px;
}
.block-wizzard a.btn:hover {
  background: #1a1a1a;
}
.block-wizzard a.btn:hover:after {
  background-color: #1a1a1a;
}
.block-wizzard .hidden-link-hack {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  text-indent: -8000px;
}
.block-wizzard.smaller-wizzard {
  background-image: url(../img/block-wizzard-inside.png);
  background-position: right 23px;
  padding: 15px 20px 20px;
  min-height: 125px;
}
.block-wizzard.smaller-wizzard .block-wizzard-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}
.block-wizzard.smaller-wizzard p {
  font-size: 11px;
  line-height: 13px;
}
.block-wizzard.smaller-wizzard a.btn {
  font-size: 12px;
  bottom: 15px;
  left: 18px;
  height: 25px;
  line-height: 25px;
  padding: 0 11px 0 5px;
}
.block-wizzard.smaller-wizzard a.btn:after {
  height: 25px;
  right: -26px;
  width: 25px;
  background-position: center -28px;
}
@media (min-width: 1200px) {
  .block-wizzard:hover a.btn {
    background: #1a1a1a;
  }
  .block-wizzard:hover a.btn:after {
    background-color: #1a1a1a;
  }
}
@media (max-width: 1199px) {
  .block-wizzard {
    background-image: url(../img/block-wizzard-tablet.png);
    background-position: left 9px;
    margin: 0 -20px;
    min-height: 100px;
    padding: 24px 39px 15px 80px;
  }
  .block-wizzard p {
    font-size: 12px;
    line-height: 13px;
    padding: 0;
  }
  .block-wizzard p.block-wizzard-title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0;
  }
  .block-wizzard a.btn {
    position: absolute;
    bottom: auto;
    left: auto;
    right: 75px;
    top: 33px;
  }
  .block-wizzard .hidden-link-hack {
    display: none;
  }
  .block-wizzard.smaller-wizzard {
    margin: 0;
  }
  .block-wizzard.smaller-wizzard .block-wizzard-title {
    line-height: 13px;
  }
  .block-wizzard.smaller-wizzard p {
    padding-right: 30%;
  }
  .block-wizzard.smaller-wizzard a.btn {
    right: auto;
    top: auto;
  }
}
@media (max-width: 767px) {
  .block-wizzard {
    background-image: url(../img/block-wizzard-mobile.png);
    background-position: right 8px;
    min-height: 60px;
    padding: 14px 80px 14px 19px;
    margin: 0 -15px;
  }
  .block-wizzard p {
    font-size: 11px;
    line-height: 14px;
  }
  .block-wizzard p.block-wizzard-title {
    font-size: 17px;
    line-height: 18px;
  }
  .block-wizzard a.btn {
    display: none;
  }
  .block-wizzard .hidden-link-hack {
    display: block;
  }
}
.select-like {
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
}
.select-like a[data-toggle="dropdown"] {
  border: 1px solid #d7d7d7;
  padding: 0 13px 0 6px;
  height: 25px;
  display: block;
  line-height: 23px;
  color: #666666;
  background: white;
  margin-right: 25px;
}
.select-like a[data-toggle="dropdown"]:after {
  border: 1px solid #d7d7d7;
  border-left: 0;
  background: #ffffff url(../img/top-menu-caret.png) no-repeat 6px -51px;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  right: 1px;
  height: 25px;
  width: 24px;
}
.select-like a[data-toggle="dropdown"]:focus,
.select-like a[data-toggle="dropdown"]:hover {
  text-decoration: none;
  color: #ff6600;
}
.select-like a[data-toggle="dropdown"]:focus:after,
.select-like a[data-toggle="dropdown"]:hover:after {
  background-position: 6px 9px;
}
.select-like.open .dropdown-menu {
  margin-top: -1px;
  width: 100%;
  min-width: 25px;
  font-size: 12px;
}
.select-like.open .dropdown-menu li {
  padding: 0 13px 0 6px;
}
.select-like.open .dropdown-menu li a {
  background: none;
  padding: 0;
}
.select-like.open .dropdown-menu li a:hover {
  color: #ff6600;
}
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
}
.sidr.right {
  left: auto;
  right: -260px;
}
.sidr.left {
  left: -260px;
  right: auto;
}
.sidr .mobile-menu-toggle {
  display: none;
}
.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none;
}
#sidr-right {
  font-size: 14px;
  background: #3b3b3b;
  padding: 32px 25px;
}
#sidr-right .sidr-inner {
  border-top: 1px solid #484848;
}
#sidr-right .dropdown {
  display: none;
}
#sidr-right li {
  border-bottom: 1px solid #484848;
  float: none;
  line-height: 20px;
}
#sidr-right li.highlighted {
  text-transform: uppercase;
}
#sidr-right li.highlighted a {
  color: #ff6900;
}
#sidr-right a {
  padding-left: 5px;
  color: #cccccc;
}
#sidr-right a .total-count {
  color: #777;
}
#sidr-right a:hover {
  color: #ff6900;
}
.listing-description {
  background: white;
  border-bottom: 2px solid #e6e6e6;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  padding: 0 30px;
  margin-bottom: 20px;
}
.listing-description h1 {
  text-transform: uppercase;
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  line-height: 30px;
  padding-bottom: 3px;
  margin-bottom: 16px;
}
.listing-description h1:after {
  content: ' ';
  display: block;
  border: 7px solid transparent;
  border-top-color: #ff6600;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -7px;
}
.listing-description .row {
  margin-left: -30px;
  margin-right: -30px;
}
.listing-description .row .col-lg-9 {
  padding: 0 30px;
}
.listing-description .row .block-wizzard {
  position: relative;
  right: -10px;
}
@media (max-width: 1199px) {
  .listing-description {
    margin-top: 20px;
    margin-bottom: 19px;
    background: #f9f9f9;
  }
  .listing-description h1 {
    margin-top: 42px;
  }
  .listing-description h1:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .listing-description {
    border: 0;
    background: transparent;
    padding: 0;
    margin-bottom: 5px;
  }
  .listing-description h1 {
    margin-top: 5px;
  }
}
.product-prices {
  color: #999;
  font-size: 11px;
}
.product-prices .main-price {
  color: #666;
  font-size: 20px;
}
.product-prices .main-price .vat {
  color: #ccc;
  font-size: 9px;
}
.product-prices del {
  color: #666;
}
.product-prices del + .main-price {
  color: #ff6600;
}
.product-listing-item {
  background: white;
  padding: 15px 15px 7px;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 18px;
  min-height: 328px;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
}
.product-listing-item:before,
.product-listing-item:after {
  content: " ";
  display: table;
}
.product-listing-item:after {
  clear: both;
}
.product-listing-item .product-main-link {
  display: block;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.product-listing-item .product-main-link img {
  margin: 0 auto;
  display: block;
  margin-bottom: 11px;
  max-height: 150px;
}
.product-listing-item .product-main-link:hover {
  text-decoration: none;
  color: #ff6600;
}
.product-listing-item .product-attributes {
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 2px 0 11px;
  color: #555;
  line-height: 14px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 11px;
}
.product-listing-item .product-attributes li:before,
.product-listing-item .product-attributes li:after {
  content: " ";
  display: table;
}
.product-listing-item .product-attributes li:after {
  clear: both;
}
.product-listing-item .product-attributes .product-attribute-title {
  color: #999;
  display: inline-block;
  width: 62px;
  float: left;
}
.product-listing-item .product-attributes .product-attribute-value {
  display: block;
  margin-left: 65px;
}
.product-listing-item .product-prices {
  min-height: 42px;
  padding-top: 7px;
  position: absolute;
  left: 15px;
  bottom: 7px;
}
.product-listing-item .product-prices .main-price {
  line-height: 23px;
  display: block;
}
.product-listing-item .compare-trigger {
  float: right;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 9px;
  color: #999999;
  font-weight: normal;
}
.product-listing-item .compare-trigger input {
  vertical-align: bottom;
  margin-right: 3px;
}
.product-listing-item .compare-trigger input:checked + span {
  color: #666;
}
.product-listing-item.product-offer-label {
  position: relative;
}
.product-listing-item.product-offer-label:before {
  position: absolute;
  background: url(../img/label.png) no-repeat top left;
  width: 44px;
  height: 40px;
  top: -4px;
  right: 11px;
  content: ' ';
  display: block;
}
.product-listing-item.product-offer-label .product-prices {
  padding-top: 0;
}
.product-listing-text-item {
  font-family: Arial, sans-serif;
  color: #666;
  font-size: 17px;
  padding: 53px 33px 10px;
  min-height: 328px;
}
.product-listing-text-item p {
  margin: 7px 0;
}
.large-adv-button {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  display: inline-block;
}
.large-adv-button span {
  display: block;
  background: #ff6600;
  height: 35px;
  float: left;
  padding: 0 5px;
  clear: left;
}
.large-adv-button span.caret {
  width: 35px;
  height: 35px;
  background: #1a1a1a url(../img/btn-arw.png) no-repeat center 7px;
}
.large-adv-button:hover {
  text-decoration: none;
  color: white;
}
.large-adv-button:hover span {
  background: #1a1a1a;
}
.large-adv-button:hover span.caret {
  background: #ff6600 url(../img/btn-arw.png) no-repeat center 7px;
}
.pagination {
  font-size: 14px;
  margin-top: 0;
  font-weight: bold;
}
.pagination > li > a,
.pagination > li > span {
  padding: 2px 8px 1px 7px;
  margin: 0 2px;
}
.pagination > li > span:hover {
  background: transparent;
  border: transparent 1px solid;
}
@media (max-width: 1199px) {
  .product-listing-item {
    padding: 27px 20px 14px;
    min-height: 342px;
  }
  .product-listing-item .product-main-link img {
    margin-bottom: 6px;
  }
  .product-listing-item .product-prices {
    left: 21px;
    bottom: 14px;
  }
  .product-listing-text-item {
    min-height: 342px;
    padding: 88px 33px 10px 62px;
  }
  .pagination {
    margin-bottom: 13px;
  }
}
@media (max-width: 767px) {
  .product-listing-item {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    border-bottom-width: 1px;
    min-height: 0;
    padding: 10px 15px;
  }
  .product-listing-item .product-main-link {
    line-height: 17px;
  }
  .product-listing-item .product-main-link img {
    max-height: 76px;
    max-width: 102px;
    margin-right: 10px;
    float: left;
  }
  .product-listing-item.product-offer-label:before {
    display: none;
  }
  .product-listing-item.product-offer-label .product-main-link {
    position: relative;
  }
  .product-listing-item.product-offer-label .product-main-link:before {
    position: absolute;
    background: url(../img/label.png) no-repeat left -41px;
    width: 25px;
    height: 29px;
    top: 0;
    left: 77px;
    content: ' ';
    display: block;
  }
  .product-listing-item .compare-trigger {
    display: none;
  }
  .product-listing-item .product-attributes {
    border: 0;
    clear: both;
    margin-top: 6px;
    padding-bottom: 0;
    margin-bottom: 3px;
  }
  .product-listing-item .product-attributes .cash-rating,
  .product-listing-item .product-attributes .fire-rating {
    max-width: 185px;
  }
  .product-listing-item .product-prices {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    margin-top: 8px;
    margin-bottom: 4px;
    padding: 0;
  }
  .product-listing-item .product-prices .main-price {
    color: #ff6600;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }
  .product-listing-item .product-prices .main-price .vat {
    font-weight: normal;
  }
  .product-listing-text-item {
    min-height: 0;
    padding: 7px 6px 13px 16px;
  }
  .product-listing-text-item .large-adv-button {
    margin-left: -9px;
  }
  .large-adv-button {
    font-size: 20px;
    line-height: 33px;
  }
  .large-adv-button span {
    padding-left: 3px;
    padding-right: 13px;
    clear: none;
  }
  .large-adv-button span:first-child {
    padding-left: 10px;
    padding-right: 2px;
  }
  .pagination-holder {
    position: relative;
    left: 50%;
    float: left;
  }
  .pagination-holder .pagination {
    margin-top: 20px;
    margin-bottom: 17px;
    margin-left: -50%;
  }
  .back-to-top {
    margin-bottom: 25px;
  }
}
.listing-description-and-settings {
  position: relative;
}
.listing-sorting-settings {
  position: absolute;
  top: -42px;
  right: 0;
  width: auto;
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .listing-sorting-settings {
    position: relative;
    top: 0;
    right: 0;
    clear: both;
  }
}
.breadcrumb {
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  padding-top: 23px;
  padding-left: 3px;
  padding-bottom: 21px;
  margin: 0;
}
.breadcrumb a {
  color: #666;
}
.breadcrumb a i {
  display: inline-block;
  font-size: 11px;
  vertical-align: baseline;
  margin-bottom: 1px;
  margin-right: 3px;
}
.breadcrumb a:hover {
  color: #ff6600;
  text-decoration: none;
}
.breadcrumb li + li {
  margin-left: 10px;
}
.breadcrumb li + li:before {
  margin-right: 2px;
  background: url(../img/arw-left.png) no-repeat left center;
}
#sidr-left,
.listing-filter {
  background: white;
  padding: 15px 15px 44px;
  border-bottom: 2px solid #e6e6e6;
}
#sidr-left .attribute-filter,
.listing-filter .attribute-filter {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0 0;
}
#sidr-left .attribute-filter .attribute-name,
.listing-filter .attribute-filter .attribute-name {
  text-transform: uppercase;
  color: #ff6600;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 0 0 5px;
}
#sidr-left .attribute-filter .attribute-name:before,
.listing-filter .attribute-filter .attribute-name:before {
  content: ' ';
  display: inline-block;
  height: 15px;
  width: 15px;
  background: url(../img/top-menu-caret.png) no-repeat left 7px;
}
#sidr-left .attribute-filter ul,
.listing-filter .attribute-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  margin-top: -4px;
  padding-left: 22px;
  padding-bottom: 10px;
}
#sidr-left .attribute-filter ul label,
.listing-filter .attribute-filter ul label {
  margin-bottom: 4px;
  font-weight: normal;
}
#sidr-left .attribute-filter ul input[type=checkbox],
.listing-filter .attribute-filter ul input[type=checkbox] {
  margin-right: 3px;
  vertical-align: text-bottom;
}
#sidr-left .attribute-filter ul input[type=checkbox] + span,
.listing-filter .attribute-filter ul input[type=checkbox] + span {
  color: #999999;
}
#sidr-left .attribute-filter ul input[type=checkbox]:checked + span,
.listing-filter .attribute-filter ul input[type=checkbox]:checked + span {
  color: #333;
}
#sidr-left .attribute-filter ul input[type=checkbox]:checked + span .total-count,
.listing-filter .attribute-filter ul input[type=checkbox]:checked + span .total-count {
  color: #ff6600;
}
#sidr-left .attribute-filter:first-child,
.listing-filter .attribute-filter:first-child {
  border: 0;
}
#sidr-left .attribute-filter.closed .attribute-name,
.listing-filter .attribute-filter.closed .attribute-name {
  color: #888;
}
#sidr-left .attribute-filter.closed .attribute-name:before,
.listing-filter .attribute-filter.closed .attribute-name:before {
  background-position: -42px -113px;
}
#sidr-left .attribute-filter.closed ul,
.listing-filter .attribute-filter.closed ul {
  display: none;
}
@media (max-width: 1199px) {
  .listing-filter {
    display: none;
  }
}
.product-overview {
  background: white;
  border-bottom: 2px solid #e6e6e6;
  padding: 30px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
}
.product-overview.product-offer-label {
  position: relative;
}
.product-overview.product-offer-label:before {
  position: absolute;
  background: url(../img/label.png) no-repeat top left;
  width: 44px;
  height: 40px;
  top: -4px;
  right: 20px;
  content: ' ';
  display: block;
}
.product-overview .product-attributes {
  padding-bottom: 33px;
}
.product-overview .product-attributes .product-attribute-title {
  color: #b2b2b2;
  width: 72px;
  display: inline-block;
}
.product-overview .product-attributes .product-attribute-title.free-width {
  width: auto;
}
.product-overview .product-attributes .fire-rating,
.product-overview .product-attributes .cash-rating {
  height: 6px;
  width: 152px;
  margin-right: 7px;
}
.product-overview .product-attributes .fire-rating i,
.product-overview .product-attributes .cash-rating i {
  height: 6px;
}
.product-overview .product-attributes .fire-rating:after,
.product-overview .product-attributes .cash-rating:after {
  height: 6px;
}
.product-overview .product-attributes .offset-top {
  padding-top: 16px;
}
.product-overview .sizes-count {
  color: #ff6600;
}
.product-overview .sizes-count:hover {
  text-decoration: none;
  color: #1a1a1a;
}
.product-overview h1 {
  margin-top: 0;
  text-transform: uppercase;
  color: #333;
  font-size: 22px;
  margin-top: 31px;
  margin-bottom: 43px;
}
.product-overview h2,
.product-overview h3,
.product-overview h4 {
  font-weight: bold;
  font-size: 18px;
  color: #ccc;
  text-transform: uppercase;
  padding-left: 10px;
  margin-bottom: 18px;
}
.product-overview .user-actions {
  padding: 11px 0;
  color: #999;
  font-size: 12px;
  line-height: 22px;
}
.product-overview .user-actions .compare-trigger {
  text-transform: uppercase;
  font-weight: normal;
}
.product-overview .user-actions .compare-trigger input {
  vertical-align: bottom;
  margin-bottom: 4px;
  margin-right: 3px;
}
.product-overview .user-actions .compare-trigger input:checked + span {
  color: #666;
}
.product-overview .user-actions .pdf-link {
  margin-left: 9px;
  padding-left: 15px;
  font-family: Arial, sans-serif;
  color: #999;
  border-left: 1px #ebebeb solid;
  height: 22px;
  display: inline-block;
}
.product-overview .user-actions .pdf-link:hover {
  color: #ff6600;
  text-decoration: none;
}
.product-overview .user-actions .pdf-link:before {
  margin-right: 3px;
}
.product-overview .user-actions .print-link {
  margin-left: 9px;
  padding-left: 15px;
  height: 22px;
  display: inline-block;
  border-left: 1px #ebebeb solid;
  font-family: Arial, sans-serif;
  color: #999;
}
.product-overview .user-actions .print-link:before {
  content: ' ';
  background: url(../img/inner-sprite.png) no-repeat 0 -20px;
  display: inline-block;
  margin-right: 3px;
  height: 14px;
  width: 16px;
  vertical-align: sub;
}
.product-overview .user-actions .print-link:hover {
  text-decoration: none;
  color: #ff6600;
}
.product-overview .user-actions .print-link:hover:before {
  background-position: -18px -20px;
}
.product-overview .product-social-actions {
  float: right;
  padding-top: 45px;
}
.box-buy-now {
  background: white;
  border-bottom: 2px solid #e6e6e6;
  padding: 17px 22px;
  font-size: 11px;
  color: #adadad;
}
.box-buy-now .stock-indicator {
  text-transform: uppercase;
  font-size: 22px;
  color: #666;
  padding-left: 3px;
  padding-bottom: 20px;
}
.box-buy-now .stock-indicator i {
  background: #2ae289;
  color: white;
  border-radius: 19px;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  width: 19px;
  font-size: 11px;
  vertical-align: middle;
  margin-bottom: 7px;
  text-align: center;
}
.box-buy-now .product-prices {
  width: 75%;
  float: left;
  font-size: 13px;
  margin-bottom: 18px;
}
.box-buy-now .product-prices .main-price {
  font-size: 24px;
  line-height: 1.05;
}
.box-buy-now .product-prices .main-price .vat {
  font-size: 10px;
}
.box-buy-now .product-quantity {
  text-align: center;
  float: left;
  width: 25%;
  color: #999;
  font-size: 13px;
}
.box-buy-now .product-quantity label {
  font-weight: bold;
}
.box-buy-now .product-quantity input {
  color: #666;
  border: 0;
  width: 100%;
  text-align: center;
}
.box-buy-now .btn {
  clear: left;
  text-transform: uppercase;
  border-radius: 0;
}
.box-buy-now .btn.btn-lg {
  font-size: 22px;
  padding: 6px 0 7px;
}
.box-buy-now ul {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  font-size: 11px;
  margin: 16px 0 13px;
}
.box-buy-now ul li {
  position: relative;
  padding-left: 17px;
  padding-bottom: 1px;
}
.box-buy-now ul li:before {
  background: url(../img/inner-sprite.png) no-repeat -44px -56px;
  content: ' ';
  display: block;
  position: absolute;
  width: 9px;
  height: 8px;
  left: 3px;
  top: 5px;
}
.box-buy-now .delivery-link {
  text-decoration: underline;
}
.box-buy-now .delivery-link:hover {
  color: #333;
  text-decoration: none;
}
.small-info-box {
  color: #888;
  font-size: 11px;
  padding: 25px 24px;
  line-height: 14px;
}
.small-info-box h1,
.small-info-box h2,
.small-info-box h3,
.small-info-box h4,
.small-info-box h5,
.small-info-box h6 {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 7px;
  margin-top: 16px;
}
.small-info-box p {
  margin-bottom: 17px;
}
.small-info-box .btn {
  background: #ff6600;
  border: 0;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 25px;
  line-height: 26px;
  padding: 0 6px;
  position: relative;
}
.small-info-box .btn:after {
  background: #ff6600 url(../img/btn-arw.png) no-repeat center -28px;
  content: ' ';
  display: block;
  height: 25px;
  position: absolute;
  right: -26px;
  top: 0;
  width: 25px;
}
.small-info-box .btn:hover {
  background: #1a1a1a;
}
.small-info-box .btn:hover:after {
  background-color: #1a1a1a;
}
.product-details {
  clear: left;
  padding: 21px 0 10px;
}
.product-details li {
  margin-bottom: 4px;
}
.product-details li a {
  padding-right: 12px;
}
.product-details li a:hover {
  text-decoration: none;
  background: url(../img/arw-right.png) no-repeat right 8px;
}
.product-details table {
  padding-top: 2px;
  width: 100%;
}
.product-details table tr:hover th {
  color: #ff6600;
}
.product-details table tr:hover th .info-icon {
  background-position: left bottom;
}
.product-details table tr:hover th,
.product-details table tr:hover td {
  background: #f7f7f7;
}
.product-details table th {
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
.product-details table td {
  padding: 10px;
}
.product-details .expand-details {
  text-transform: uppercase;
  display: block;
  padding: 13px 10px 26px 10px;
  font-weight: bold;
}
.product-details .expand-details:after {
  content: ' ';
  display: inline-block;
  width: 11px;
  margin-left: 3px;
  height: 8px;
  background: url(../img/top-menu-caret.png) no-repeat top left;
}
.product-details .expand-details:hover {
  color: #666;
  text-decoration: none;
}
.product-details .expand-details:hover:after {
  background-position: 0 -60px;
}
.product-details .expand-details.expanded:after {
  background-position: -17px 0;
}
.product-details .expand-details.expanded:hover:after {
  background-position: -17px -60px;
}
.similar-products {
  padding-bottom: 25px;
}
.similar-products .back-to-top {
  color: #ccc;
}
.similar-products .back-to-top:before {
  background-position: -15px -115px;
}
.similar-products .back-to-top:hover {
  color: #ff6600;
}
.similar-products .back-to-top:hover:before {
  background-position: -15px 5px;
}
.similar-products .product-prices .main-price {
  display: block;
  font-size: 16px;
  line-height: 19x;
}
.similar-products .product-prices .main-price .vat {
  font-size: 9px;
}
.similar-products table {
  width: 100%;
  font-size: 13px;
  color: #666;
  margin-bottom: 13px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.similar-products table thead tr th {
  background: #f7f7f7;
  font-weight: bold;
  padding: 9px 0 11px 10px;
  line-height: 16px;
}
.similar-products table thead tr th.separated {
  border-right: 1px solid #e5e5e5;
}
.similar-products table thead tr th.compare {
  text-align: center;
}
.similar-products table tbody tr td {
  vertical-align: middle;
  padding: 15px 0 16px 10px;
}
.similar-products table tbody tr td.separated {
  border-right: 1px solid #e5e5e5;
}
.similar-products table tbody tr td.center {
  text-align: center;
}
.similar-products table tbody tr.active td {
  background: #fefad1;
}
.similar-products table tbody tr:hover td {
  background: #f7f7f7;
}
@media (max-width: 1199px) {
  .product-overview {
    margin-top: 20px;
    padding: 20px;
  }
  .product-overview.product-offer-label:before {
    display: none;
  }
  .product-overview .similar-products {
    display: none;
  }
  .product-overview .product-main-info {
    width: 50%;
    padding-left: 10px;
    float: left;
  }
  .product-overview h1 {
    margin-top: 6px;
    margin-bottom: 21px;
  }
  .product-overview .product-attributes {
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 11px;
  }
  .product-overview .user-actions .pdf-link {
    display: none;
  }
  .product-overview .user-actions .print-link {
    display: none;
  }
  .product-overview .product-social-actions {
    padding-top: 17px;
  }
  .small-info-box {
    font-size: 12px;
    margin-top: 18px;
    padding-top: 30px;
    border: 2px solid #e0e0e0;
    padding-left: 27px;
    line-height: 15px;
  }
  .small-info-box h1,
  .small-info-box h2,
  .small-info-box h3,
  .small-info-box h4,
  .small-info-box h5,
  .small-info-box h6 {
    margin: 4px 0 7px;
    float: left;
    width: 31%;
  }
  .small-info-box p {
    float: left;
    width: 33%;
    margin: 0;
  }
  .small-info-box .btn {
    float: right;
  }
  .box-buy-now {
    margin-top: 23px;
  }
  .box-buy-now p {
    clear: both;
    border-top: 1px solid #ebebeb;
    padding-left: 7px;
    padding-top: 16px;
  }
  .box-buy-now .stock-indicator {
    border-bottom: 1px solid #ebebeb;
    border-top: 0;
    padding-top: 0;
    padding-bottom: 14px;
    margin-bottom: 15px;
  }
  .box-buy-now .product-quantity {
    width: 30px;
    color: #999999;
  }
  .box-buy-now .product-quantity input {
    color: #333;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
  }
  .box-buy-now .product-prices {
    margin-left: 7px;
    margin-bottom: 15px;
    width: 185px;
  }
  .box-buy-now .product-prices .main-price {
    display: block;
  }
  .box-buy-now .btn {
    width: 236px;
    float: right;
    clear: none;
    margin-right: 7px;
  }
  .product-details table {
    border-top: 1px solid #ebebeb;
  }
  .product-details tr th,
  .product-details tr td {
    border-bottom: 1px solid #ebebeb;
  }
}
@media (max-width: 767px) {
  .product-overview {
    margin-left: -15px;
    margin-right: -15px;
  }
  .product-overview h2,
  .product-overview h3,
  .product-overview h4 {
    font-size: 16px;
    padding: 0;
    margin-bottom: 13px;
  }
  .product-overview .product-details table {
    font-size: 11px;
    line-height: 14px;
  }
  .product-overview .product-details table th {
    width: 112px;
  }
  .product-overview .product-details table td,
  .product-overview .product-details table th {
    vertical-align: top;
    padding: 9px 3px 9px 0;
  }
  .product-overview .product-details .expand-details {
    padding: 15px 0 6px;
  }
  .box-buy-now {
    margin: 20px 5px 0;
  }
  .box-buy-now p {
    border-top: 0;
    padding: 0;
    padding-left: 3px;
  }
  .box-buy-now .product-prices {
    margin-left: 3px;
  }
  .box-buy-now .product-quantity {
    float: right;
    margin-right: 5px;
  }
  .box-buy-now .btn {
    float: none;
    clear: both;
    margin: 0;
    width: auto;
  }
  .small-info-box {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 21px 22px 7px;
    font-size: 11px;
    line-height: 14px;
  }
  .small-info-box h1,
  .small-info-box h2,
  .small-info-box h3,
  .small-info-box h4,
  .small-info-box h5,
  .small-info-box h6 {
    float: none;
    width: auto;
    margin-top: 0;
  }
  .small-info-box p {
    float: none;
    width: auto;
    margin-bottom: 17px;
  }
  .small-info-box .btn {
    float: none;
  }
}
.product-gallery {
  width: 497px;
  float: left;
  min-height: 320px;
}
.product-gallery .product-miniatures {
  width: 50px;
  margin-right: 10px;
  float: left;
}
.product-gallery .product-miniatures ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-gallery .product-miniatures li {
  margin-bottom: 10px;
}
.product-gallery .product-miniatures li a img {
  border: 3px solid #d9d9d9;
}
.product-gallery .product-miniatures li a:hover img {
  border-color: #ff6600;
}
.product-gallery .large-picture {
  position: relative;
  float: left;
}
.product-gallery .large-picture ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-gallery .large-picture ul li {
  /*hack*/
  display: none;
}
.product-gallery .large-picture ul li:first-child {
  display: block;
}
.product-gallery .large-picture a span {
  position: absolute;
  display: none;
  width: 135px;
  height: 135px;
  padding: 62px 0 0;
  /*font-weight: 700;*/
  font-size: 15px;
  line-height: 16px;
  top: 85px;
  right: 144px;
  color: white;
  background: #ff6600 url(../img/ico-zoom.png) no-repeat center 31px;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.product-gallery .large-picture a:hover span {
  display: block;
}
img {
  max-width: 100%;
}
@media (max-width: 1199px) {
  .product-gallery {
    width: 50%;
    padding-right: 10px;
    min-height: 288px;
  }
  .product-gallery .product-miniatures {
    display: none;
  }
}
.product-attributes {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-attributes .cash-rating,
.product-attributes .fire-rating {
  display: inline-block;
  background: #e5e5e5;
  height: 5px;
  text-indent: -8000px;
  vertical-align: middle;
  margin-bottom: 1px;
  position: relative;
  width: 100%;
}
.product-attributes .cash-rating i,
.product-attributes .fire-rating i {
  display: block;
  height: 5px;
  background: #2ae289;
}
.product-attributes .cash-rating:after,
.product-attributes .fire-rating:after {
  content: ' ';
  display: block;
  height: 5px;
  width: 100%;
  top: 0;
  position: absolute;
}
.product-attributes .cash-rating i {
  background: #2ae289;
}
.product-attributes .cash-rating:after {
  background: url(../img/rating.png) no-repeat right top;
}
.product-attributes .fire-rating i {
  background-color: #ff6600;
}
.product-attributes .fire-rating:after {
  background: url(../img/rating.png) no-repeat right bottom;
}
.medium-product-listing {
  background: white;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 17px;
}
.medium-product-listing h1,
.medium-product-listing h2,
.medium-product-listing h3,
.medium-product-listing h4,
.medium-product-listing h5,
.medium-product-listing h6 {
  color: #cccccc;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  height: 61px;
  line-height: 62px;
  padding: 0 24px;
  margin-bottom: 20px;
}
.medium-product-listing .product-listing-item {
  border: 0;
  margin: 0 5px;
  padding: 10px 10px 0;
  min-height: 255px;
}
.medium-product-listing .product-listing-item .product-main-link {
  padding-bottom: 10px;
  margin-bottom: 11px;
  border-bottom: 1px solid #e5e5e5;
}
.medium-product-listing .product-listing-item .product-prices {
  position: relative;
  top: 0;
  left: 0;
}
.medium-product-listing .product-listing-item.product-offer-label:before {
  top: 0;
  background-position: left -71px;
  height: 46px;
}
.medium-product-listing .row {
  margin: 0;
}
.medium-product-listing .row > div {
  border-left: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.medium-product-listing .row > div:first-child {
  border: 0;
}
.compare-holder {
  background: white;
  border-bottom: 2px solid #e6e6e6;
  padding-left: 30px;
}
.compare-holder h1 {
  color: #ff6600;
  font-size: 30px;
}
.compare-holder table {
  width: 100%;
}
.compare-holder table tr td {
  width: 25%;
}
.compare-holder table tr:hover th {
  color: #ff6600;
}
.compare-holder table tr:hover th .info-icon {
  background-position: left bottom;
}
.compare-holder table tr:hover th,
.compare-holder table tr:hover td {
  background: #f7f7f7;
}
.compare-holder table th {
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
.compare-holder table td {
  padding: 10px;
}
.block-for-text {
  background: white;
  border-bottom: 2px solid #e6e6e6;
  padding: 30px;
  padding-top: 24px;
  margin-bottom: 20px;
}
.block-for-text:before,
.block-for-text:after {
  content: " ";
  display: table;
}
.block-for-text:after {
  clear: both;
}
.block-for-text h1 {
  padding-bottom: 3px;
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
}
.block-for-text h1:after {
  content: ' ';
  display: block;
  border: 8px solid transparent;
  border-top-color: #ff6600;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -7px;
}
.block-for-text h1.submenu-dropdown-trigger.active {
  z-index: 155;
}
.block-for-text .lead {
  color: #999;
  font-size: inherit;
  margin-bottom: 36px;
}
.block-for-text h2 {
  color: #999;
  line-height: 22px;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.block-for-text h3 {
  font-weight: 700;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin-top: 31px;
  margin-bottom: 11px;
}
.block-for-text p {
  line-height: 18px;
  margin-bottom: 18px;
}
.block-for-text > img,
.block-for-text p > img {
  border: 4px solid #d4d4d4;
  margin-bottom: 5px;
  margin-top: 5px;
}
.block-for-text > img.pull-left {
  margin-bottom: 24px;
  margin-right: 20px;
}
.block-for-text > img.pull-right {
  margin-bottom: 24px;
  margin-left: 20px;
}
.block-for-text ul,
.block-for-text ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 31px;
}
.block-for-text ul li,
.block-for-text ol li {
  position: relative;
}
.block-for-text ul li:before,
.block-for-text ol li:before {
  position: absolute;
  left: 0;
}
.block-for-text ul.multiline li,
.block-for-text ol.multiline li {
  margin-bottom: 10px;
}
.block-for-text ul li {
  padding-left: 11px;
}
.block-for-text ul li:before {
  display: inline-block;
  width: 4px;
  height: 4px;
  content: ' ';
  top: 7px;
  background: #ff6600;
}
.block-for-text ul.url-list li {
  padding-left: 15px;
  padding-bottom: 3px;
}
.block-for-text ul.url-list li:before {
  content: '';
  display: none;
}
.block-for-text ul.pagination li {
  padding-left: 0;
}
.block-for-text ul.pagination li:before {
  display: none;
}
.block-for-text ol {
  counter-reset: item;
}
.block-for-text ol li {
  padding-left: 18px;
}
.block-for-text ol li:before {
  font-weight: 700;
  content: counter(item) ". ";
  counter-increment: item;
  color: #ff6600;
}
.block-for-text .table {
  margin-bottom: 29px;
}
.block-for-text .table caption {
  font-weight: 700;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 19px;
  text-align: left;
}
.block-for-text .table thead th {
  background: #f7f7f7;
}
.block-for-text .table th,
.block-for-text .table td {
  border: 0;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 18px;
}
.block-for-text .table td {
  padding-top: 23px;
  padding-bottom: 19px;
}
.block-for-text blockquote {
  border: 0;
  font-style: italic;
  color: inherit;
  font-size: inherit;
  padding: 16px 102px 16px 51px;
}
.block-for-text blockquote footer {
  color: inherit;
  font-size: 100%;
  font-style: normal;
}
.block-for-text blockquote footer:before {
  display: none;
}
.block-for-text a {
  text-decoration: underline;
}
.block-for-text a:hover {
  text-decoration: none;
  color: #ff6600;
}
.block-for-text .multicolumn-text {
  padding-top: 10px;
}
.block-for-text .multicolumn-text h2:first-child,
.block-for-text .multicolumn-text h3:first-child,
.block-for-text .multicolumn-text p:first-child,
.block-for-text .multicolumn-text ul:first-child,
.block-for-text .multicolumn-text ol:first-child {
  margin-top: 0;
}
.block-for-text .multicolumn-text blockquote {
  padding: 0;
  padding-left: 20px;
  border-left: 3px solid #ff6600;
}
@media (max-width: 1199px) {
  .block-for-text {
    margin-top: 20px;
  }
  .block-for-text h1 {
    font-size: 26px;
  }
  .block-for-text h1.submenu-dropdown-trigger {
    background: white;
    margin: 6px -5px 25px;
    padding: 11px 20px 13px;
    display: block;
    border: 2px solid #dadada;
    cursor: pointer;
    border-radius: 4px;
  }
  .block-for-text h1.submenu-dropdown-trigger:after {
    border-top-color: #333333;
    left: auto;
    right: 24px;
    bottom: 50%;
    margin-bottom: -14px;
  }
  .block-for-text h1.submenu-dropdown-trigger.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .block-for-text .multicolumn-text .col-xs-12 {
    padding-bottom: 13px;
  }
  .block-for-text .multicolumn-text blockquote {
    margin-top: 15px;
    margin-left: 21px;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .block-for-text {
    margin-top: 0;
    padding-left: 23px;
    padding-right: 23px;
  }
  .block-for-text .table th,
  .block-for-text .table td {
    padding: 8px;
  }
  .block-for-text blockquote {
    padding-right: 0;
  }
  .block-for-text h1 {
    font-size: 22px;
  }
  .block-for-text h1:after {
    display: none;
  }
  .block-for-text h1.submenu-dropdown-trigger {
    margin-bottom: 19px;
    margin-top: -1px;
    padding: 10px 20px;
  }
  .block-for-text h1.submenu-dropdown-trigger:after {
    display: block;
    margin-bottom: -11px;
  }
  .block-for-text h2 {
    font-size: 15px;
    line-height: 22px;
  }
  .block-for-text .pagination-holder {
    margin-top: -25px;
    border-top: 1px solid #e6e6e6;
    left: 0;
  }
  .block-for-text .pagination-holder .pagination {
    margin: 30px 0 10px;
  }
}
.sidebar-navigation {
  padding-top: 26px;
}
.sidebar-navigation h1,
.sidebar-navigation h2,
.sidebar-navigation h3 {
  color: #666;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 23px;
}
.sidebar-navigation .url-list {
  font-size: 11px;
  margin-bottom: 29px;
}
.sidebar-navigation-target {
  display: none;
}
.sidebar-navigation-target .sidebar-navigation {
  margin-top: 0;
  padding-bottom: 3px;
  border: 0;
}
@media (max-width: 1199px) {
  .sidebar-navigation-target {
    z-index: 1555;
    position: absolute;
    background: white;
    border: 2px solid #dadada;
    border-top: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: -25px -5px 0;
  }
  .sidebar-navigation-target h1,
  .sidebar-navigation-target h2,
  .sidebar-navigation-target h3 {
    color: #bbb;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .sidebar-navigation-target .url-list {
    font-size: 14px;
  }
  .sidebar-navigation-target .url-list li {
    padding-top: 3px;
    padding-left: 18px;
    background-position: left 10px;
  }
}
@media (max-width: 767px) {
  .sidebar-navigation-target {
    margin-top: -19px;
    padding-left: 10px;
  }
  .sidebar-navigation-target .sidebar-navigation {
    padding-top: 21px;
    margin-bottom: 0;
  }
  .sidebar-navigation-target .url-list {
    margin-bottom: 26px;
  }
  .sidebar-navigation-target .url-list li {
    background-position: left 9px;
    padding-top: 2px;
  }
}
.shop-brands {
  margin: 0 -30px;
  padding: 10px 5px 0;
}
.block-brand {
  /*margin: 22px 0 22px 35px;*/
  padding: 0 45px 17px;
}
.block-brand .brand-logo {
  text-align: center;
  height: 100px;
  line-height: 100px;
  margin-bottom: 8px;
  border: #f2f2f2 2px solid;
}
.block-brand .brand-logo:before,
.block-brand .brand-logo:after {
  content: " ";
  display: table;
}
.block-brand .brand-logo:after {
  clear: both;
}
.block-brand .brand-logo img {
  border: 0;
}
.block-brand h2,
.block-brand h3 {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 9px;
  padding-left: 4px;
}
.block-brand a {
  text-decoration: none;
}
.block-brand a .total-count {
  color: #999999;
}
.block-brand a:hover {
  color: #333333;
  text-decoration: none;
}
.block-brand a:hover .total-count {
  color: #333;
}
.block-brand ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 4px;
}
.block-brand ul li {
  padding-bottom: 4px;
  padding-left: 0;
}
.block-brand ul li:before {
  display: none;
}
@media (max-width: 1199px) {
  .block-brand {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 767px) {
  .block-brand .brand-logo {
    text-align: left;
    padding-left: 20px;
  }
}
.blog-article {
  margin-bottom: 44px;
}
.blog-article:before,
.blog-article:after {
  content: " ";
  display: table;
}
.blog-article:after {
  clear: both;
}
.blog-article > .pull-left {
  border: 4px solid #d4d4d4;
  margin-right: 33px;
  margin-bottom: 16px;
}
.blog-article .blog-date {
  color: #bfbfbf;
  font-size: 11px;
  margin-top: -12px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .blog-article {
    margin-bottom: 33px;
  }
  .blog-article > .pull-left {
    display: none;
  }
  .blog-article .blog-date {
    margin-top: -10px;
  }
}
.why-icon {
  display: block;
  margin: 15px 28px 15px 11px;
  width: 65px;
  height: 50px;
  background: url(../img/why.png) no-repeat;
}
.why-icon.why-icon-safe {
  background-position: -64px -3px;
}
.why-icon.why-icon-label {
  background-position: -64px -103px;
}
.why-icon.why-icon-lock {
  background-position: -64px -204px;
}
.why-icon.why-icon-trust {
  background-position: -64px -154px;
}
.why-icon.why-icon-truck {
  background-position: -64px -53px;
}
.why-icon.why-icon-headphone {
  background-position: 1px -153px;
}
.why-icon.why-icon-warranty {
  background-position: 1px -203px;
}
.why-icon.why-icon-smile {
  background-position: 1px -3px;
}
.why-icon.why-icon-return {
  background-position: 1px -53px;
}
.why-icon.why-icon-pig {
  background-position: 1px -103px;
}
p + .why-media-holder,
h2 + .why-media-holder {
  padding-top: 15px;
}
.why-media-holder .media {
  min-height: 80px;
  margin-bottom: 40px;
}
.why-media-holder .media .media-heading {
  text-transform: uppercase;
  margin-top: 7px;
}
.why-media-holder .media p {
  margin-bottom: 0;
}
.thank-you-page {
  padding-top: 99px;
  padding-bottom: 99px;
}
.thank-you-page h1,
.thank-you-page h2,
.thank-you-page h3 {
  color: #1dd67d;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 16px;
  margin-top: 37px;
}
.continue:before {
  content: ' ';
  display: inline-block;
  width: 8px;
  margin-right: 2px;
  height: 9px;
  background: url(../img/inner-sprite.png) no-repeat -9px -54px;
}
.continue:hover {
  color: black !important;
}
.continue:hover:before {
  background-position: -1px -54px;
}
@media (max-width: 767px) {
  .thank-you-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/** Carousel **/
.quality-badges {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.quality-badges ul {
  width: 20000em;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.quality-badges li {
  float: left;
}
/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -29px;
  width: 11px;
  height: 58px;
  background: url(../img/slider-sprite.png) no-repeat;
  color: #fff;
  text-indent: -8000px;
  outline: none;
}
.jcarousel-control-prev:focus,
.jcarousel-control-next:focus {
  outline: none;
}
.jcarousel-control-prev {
  left: 19px;
  background-position: 0 0;
}
.jcarousel-control-prev:hover {
  background-position: -35px 0;
}
.jcarousel-control-next {
  right: 19px;
  background-position: -20px 0;
}
.jcarousel-control-next:hover {
  background-position: -55px 0;
}
#footer {
  padding-top: 23px;
  padding-bottom: 36px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #999;
}
#footer .footer-top {
  background: #262626;
  padding: 25px 0 24px;
  margin-bottom: 27px;
  position: relative;
}
#footer .footer-top .quality-badges .quality-badge {
  display: table;
  border-left: 1px solid #333;
  color: #999999;
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 13px;
  margin: 0 5px ;
  padding: 1px 0 0 88px;
  max-width: 320px;
  min-height: 78px;
  vertical-align: middle;
  position: relative;
}
#footer .footer-top .quality-badges .quality-badge:before {
  position: absolute;
  left: 24px;
  top: 20px;
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/quality-badge-icons.png) no-repeat;
}
#footer .footer-top .quality-badges .quality-badge.quality-badge-icon-headphone:before {
  background-position: -40px -40px;
}
#footer .footer-top .quality-badges .quality-badge.quality-badge-icon-truck:before {
  background-position: -40px 0;
}
#footer .footer-top .quality-badges .quality-badge.quality-badge-icon-label:before {
  background-position: -40px -80px;
}
#footer .footer-top .quality-badges .quality-badge.quality-badge-icon-lock:before {
  background-position: 0 -80px;
}
#footer .footer-top .quality-badges .quality-badge.quality-badge-icon-refresh:before {
  background-position: 0 -40px;
}
#footer .footer-top .quality-badges .quality-badge .quality-badge-helper {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
}
#footer .footer-top .quality-badges .quality-badge .quality-badge-helper .quality-badge-heading {
  line-height: 17px;
  color: #f2f2f2;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
#footer .footer-top .quality-badges .quality-badge:hover {
  color: #fff;
  text-decoration: none;
}
#footer .footer-top .quality-badges .quality-badge:hover .quality-badge-heading {
  color: #ff6600;
}
#footer .footer-top .quality-badges li:first-child .quality-badge {
  border-left: 0;
}
#footer .footer-top .jcarousel-control-prev,
#footer .footer-top .jcarousel-control-next {
  display: none;
}
#footer .country-selector {
  margin-top: 16px;
  margin-bottom: 28px;
  background: #f9f9f9;
  border-top: 1px solid #efefef;
  border-bottom: 2px solid #efefef;
  line-height: 13px;
  padding: 10px 0;
  text-align: center;
  font-size: 11px;
}
#footer .country-selector ul {
  margin: 0;
  padding: 0;
}
#footer .country-selector ul li {
  display: inline-block;
  border-left: 1px solid #d4d4d4;
  padding: 0 13px;
}
#footer .country-selector ul li:first-child {
  border: 0;
}
#footer .country-selector ul li a {
  color: #999;
}
#footer .country-selector ul li a:hover {
  color: #ff6600;
  text-decoration: none;
}
#footer .logo-horizontal {
  float: left;
  margin-right: 19px;
  max-width: 210px;
  max-height: 46px;
}
#footer .copyright {
  line-height: 15px;
}
#footer .copyright p {
  margin: 8px 0;
}
#footer .bank-logos {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin: 8px 0;
}
#footer .bank-logos li {
  float: left;
  margin: 0 0 0 9px;
}
.footer-menu-blocks {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 26px;
}
.footer-menu-block {
  padding-bottom: 35px;
}
.footer-menu-block h3,
.footer-menu-block h4 {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  border-bottom: 2px solid #d9d9d9;
  margin-right: 29px;
  padding-bottom: 10px;
}
.idea-logo {
  margin: 22px 13px 0 23px;
  clear: both;
  display: block;
  background: url(../img/idea-sprite.png) no-repeat left bottom;
  width: 69px;
  text-indent: -8000px;
  float: right;
  height: 5px;
}
.idea-logo:hover {
  background-position: left top;
}
@media (max-width: 1199px) {
  #footer {
    padding-bottom: 50px;
  }
  #footer .country-selector {
    margin-bottom: 38px;
  }
  #footer .copyright {
    padding-bottom: 30px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 22px;
  }
  #footer .bank-logos {
    float: left;
    margin-left: -1px;
  }
  #footer .bank-logos li {
    margin: 0 9px 0 0;
  }
  #footer > .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
  #footer .footer-top {
    min-height: 130px;
    padding-bottom: 13px;
  }
  #footer .footer-top .jcarousel-control-prev,
  #footer .footer-top .jcarousel-control-next {
    display: block;
  }
  #footer .footer-top .quality-badges {
    position: relative;
  }
  #footer .footer-top .quality-badges:after {
    display: block;
    height: 90px;
    width: 1px;
    top: 0;
    left: 5px;
    position: absolute;
    content: ' ';
    background: #262626;
  }
  #footer .footer-top .quality-badges .quality-badge {
    max-width: 300px;
  }
  #footer .footer-top .quality-badges .quality-badge:before {
    left: 34px;
  }
  .idea-logo {
    clear: none;
    margin-top: 24px;
    margin-right: 8px;
  }
  .footer-menu-blocks {
    padding-bottom: 13px;
  }
  .footer-menu-block {
    padding-bottom: 8px;
  }
  .footer-menu-block ul li {
    padding-bottom: 5px;
  }
}
@media (max-width: 767px) {
  #footer {
    padding-bottom: 30px;
    padding-top: 0;
    font-size: 11px;
    line-height: 15px;
  }
  #footer .footer-top {
    margin-bottom: 17px;
    padding: 10px 0;
    min-height: 100px;
  }
  #footer .footer-top .quality-badges:after {
    display: none;
  }
  #footer .footer-top .quality-badges .quality-badge {
    border: 0;
    margin: 0 auto;
  }
  #footer .footer-top .quality-badges .quality-badge:before {
    top: 20px;
    left: 28px;
  }
  #footer > .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer .logo-horizontal {
    float: none;
    margin: 0;
  }
  #footer .copyright {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 1px;
  }
  #footer .copyright img {
    max-width: 52.5%;
    margin-bottom: 10px;
  }
  #footer .bank-logos {
    margin-left: 0;
  }
  #footer .bank-logos li {
    margin: 0 4px 0 0;
  }
  #footer .country-selector {
    margin-bottom: 28px;
  }
  #footer .country-selector ul li {
    border: 0;
    padding: 5px 13px;
  }
  .footer-menu-block {
    padding-bottom: 1px;
  }
  .footer-menu-block h4 {
    padding-left: 2px;
    font-size: 14px;
    padding-bottom: 6px;
    margin-bottom: 4px;
    margin-right: 0;
  }
  .footer-menu-block ul {
    font-size: 11px;
  }
  .footer-menu-block ul li {
    padding-bottom: 1px;
  }
  .idea-logo {
    float: left;
    clear: both;
    margin-top: 22px;
    margin-left: 13px;
  }
}
